.product-detail{
  position:fixed;
  top:0;
  left:50%;
  bottom: 0;
  right: 0;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transform: translateX(100%);
  transition: all ease-out .5s;
}
.active{
  transform: translateX(0%);
}
.ver-mas{
  max-width: 170px;
  
}
body,html{
  
}

.container-1 {
   /* background: rgb(236, 236, 236); */
   border: 1px solid rgb(228, 226, 226);
   height: 40px;
   padding-top: 5px;
}
.icon{
  width: 20%;
  text-align: center;
  padding-left: 5px;
}
.container-1 input{
  width: 80%;
  padding-left: 10px;
  border: none !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.container-1 input:focus{
  border: transparent !important;
  outline: none !important;
  outline-offset: 0px
}
.pp{
  /* box-shadow: 1px 1px 5px 1px #999; */

}
#search{
}
/* .container-1 input#search::-webkit-input-placeholder {
color: #65737e;
} */
 
/* .container-1 input#search:-moz-placeholder { 
   color: #65737e;  
}
 
.container-1 input#search::-moz-placeholder {  
   color: #65737e;  
}
 
.container-1 input#search:-ms-input-placeholder {  
   color: #65737e;  
} */
/* .container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
} */
