<!-- <p>La cantidad {{myShoppingCart.length}} </p>
<p>total: ${{total}}</p> -->
<!-- <p></p> -->
<!-- <p>
  Today: {{today | date:'shortDate'}}
</p>
<p>
  Today: {{today | timeAgo}}
</p>
<p>
  Otra fecha: {{date | date:'yyyy.dd.MM'}}
</p>
<p>
  {{'hOlA BasCVSaa asaDa' | uppercase}}
</p> -->

<!-- <button (click)="createNewProduct()">Create product</button>
<button (click)="onShowDetail('2348')">Detail not found</button> -->

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <input type="text" name="filterProduct" placeholder="buscar por nombre" [(ngModel)]="filterProduct">
      </div>
    </div>
  </div>
  <div class="row product--grid">
    <app-product class="col-lg-3 col-md-6 col-sm-6" [product]="p" *ngFor="let p of products | filter:filterProduct"
      (addedProduct)="onAddToShoppingCart($event)" (showProduct)="onShowDetail($event)">
    </app-product>
    
  
  </div>
  
  <!-- <pagination-controls (pageChange)="($event)"></pagination-controls> -->
  <div class="ver-mas mx-auto mb-3">
    <button type="button" (click)="onLoadMore()" class="btn btn-success btn-block"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i> Ver más</button>
  </div>
</div>
<div class="product-detail" [ngClass]="{'active':showProductDetail}">
  {{statusDetail}}
  <div *ngIf="productChosen">
    <button (click)="toggleProductDetail()">Close</button>
    <h1> {{productChosen.name}} </h1>
    <!-- <swiper [slidesPerView]="1">
      <ng-template swiperSlide>
        <img [src]="productChosen.image" alt="">
      </ng-template>
      <ng-template swiperSlide>Slide 2</ng-template>
      <ng-template swiperSlide>Slide 3</ng-template>
    </swiper> -->
    <img [src]="productChosen.image" alt="">

    <p>{{productChosen.description}} </p>
    <!-- <button (click)="updateProduct()">editar</button>
    <button (click)="deleteProduct()">eliminar</button> -->

  </div>
</div>
