<div class="container-fluid">
  <div class="form-group">
    <h1><span style="float: left"><i class="fa fa-users" aria-hidden="true"></i></span></h1>
    <div class="form-group">
      <h4 style="margin-left:65px;">Subcategorías</h4>
      <span class="ml-3 text-muted">Lista de subcategorías activas</span>
    </div>
  </div>
</div>
<div class="container mt-3">
  <div class="form-inline mb-3">
    <div class="form-group w-50 grupo1">
      <input
        type="search"
        name=""
        id=""
        placeholder="Buscar subcategoria por nombre.."
        [(ngModel)]="filterSubcategory"
      /><i class="fa fa-search" aria-hidden="true"></i>
    </div>
    <div class="form-group w-50">
      <button class="btn btn-primary ml-auto" routerLink="/cms/subcategories/add">
        <i class="fa fa-plus" aria-hidden="true"></i> Nueva subcategoría
      </button>
    </div>
    
  </div>
    
    <table
      class="table table-bordered"
    >
      <thead class="">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let subcat of subcategories | filter: filterSubcategory; let i = index"
        >
          <td>{{ i + 1 }}</td>
          <td>{{ subcat.name }}</td>
          <td>{{ subcat.description }}</td>
          <td class="text-center">
            <button class="btn btn-info" [routerLink]="['/cms/subcategories/subcategory',subcat.id]">Detalles</button>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #elseBlock>
      <div class="div">
        <h3>No hay subcategorias registradas</h3>
  
        <p></p>
      </div>
    </ng-template>
</div>



