<div class="container-fluid">
  <div class="form-group">
    <h4>Subcategorías</h4>
    <span>Lista de subcategorías</span>
  </div>
</div>
<div class="container">
    <div class="form-group">
      <button class="btn btn-primary" routerLink="/cms/subcategories/add">
        Nueva subcategoría
      </button>
    </div>
    <div class="form-group">
      <input
        type="search"
        name=""
        id=""
        placeholder="Buscar subcategoria por nombre.."
        [(ngModel)]="filterSubcategory"
      />
    </div>
    <table
      class="table table-bordered"
    >
      <thead class="">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let subcat of subcategories | filter: filterSubcategory; let i = index"
        >
          <td>{{ i + 1 }}</td>
          <td>{{ subcat.name }}</td>
          <td>{{ subcat.description }}</td>
          <td class="text-center">
            <button class="btn btn-info" [routerLink]="['/cms/subcategories/subcategory',subcat.id]">Detalles</button>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #elseBlock>
      <div class="div">
        <h3>No hay subcategorias registradas</h3>
  
        <p></p>
      </div>
    </ng-template>
</div>



