<div class="container-fluid c1">
  <button class="btn btn-primary" routerLink="/cms/providers">
    <i class="fa fa-arrow-left" aria-hidden="true"></i> Proveedores
  </button>
</div>

<!-- Editar proveedor -->
<div class="container mt-2">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title" id="exampleModalLabel">Editar proveedor</h5>
        </div>

        <form
          #editForm="ngForm"
          (ngSubmit)="editarProvider(editForm)"
          class="form-addProvider"
        >
          <div class="card-body">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="">Name</label>
                <input
                  type="text"
                  class="form-control"
                  name="editName"
                  #refEditName="ngModel"
                  [(ngModel)]="editProvider.name"
                  [ngClass]="{
                    'is-invalid': refEditName.errors && refEditName.touched
                  }"
                  required
                  [disabled]="isDisabled"
                />
                <div
                  [hidden]="!refEditName.errors?.required"
                  class="invalid-feedback"
                >
                  Nombre requerido
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="">R.U.C</label>
                <input
                  type="text"
                  class="form-control"
                  name="editRuc"
                  pattern="^((\\+91-?)|0)?[0-9]{13}$"
                  #refEditDesc="ngModel"
                  [(ngModel)]="editProvider.ruc"
                  [ngClass]="{
                    'is-invalid': refEditDesc.errors && refEditDesc.touched
                  }"
                  minlength="13"
                  maxlength="13"
                  required
                  [disabled]="isDisabled"
                />
                <div
                  [hidden]="!refEditDesc.errors?.required"
                  class="invalid-feedback"
                >
                  R.U.C requerido
                </div>
                <div
                [hidden]="!refEditDesc.errors?.pattern"
                class="invalid-feedback"
              >
                R.U.C inválido
              </div>
              <div
              [hidden]="!refEditDesc.errors?.minlength"
              class="invalid-feedback"
            >
              Se requiere de 13 dígitos
            </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="">Dirección</label>
                <input
                  type="text"
                  class="form-control"
                  name="editAdress"
                  #refEditAddr="ngModel"
                  [(ngModel)]="editProvider.address"
                  [ngClass]="{
                    'is-invalid': refEditAddr.errors && refEditAddr.touched
                  }"
                  required
                  [disabled]="isDisabled"
                />
                <div
                  [hidden]="!refEditAddr.errors?.required"
                  class="invalid-feedback"
                >
                  Dirección requerida
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="">Teléfono</label>
                <input
                  type="text"
                  class="form-control"
                  name="editPhone"
                  pattern="^((\\+91-?)|0)?[0-9]{10}$"
                  #refEditPhone="ngModel"
                  [(ngModel)]="editProvider.phone"
                  [ngClass]="{
                    'is-invalid': refEditPhone.errors && refEditPhone.touched
                  }"
                  minlength="10"
                  maxlength="10"
                  required
                  [disabled]="isDisabled"
                />
                <div
                  [hidden]="!refEditPhone.errors?.required"
                  class="invalid-feedback"
                >
                  Teléfono requerido
                </div>
                <div
                [hidden]="!refEditPhone.errors?.pattern"
                class="invalid-feedback"
              >
                Número de teléfono inválido
              </div>
              <div
                [hidden]="!refEditPhone.errors?.minlength"
                class="invalid-feedback"
              >
                Se requiere de 10 dígitos
              </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="container-fluid">
              <div class="form-row text-center">
                <div class="form-group col-md-6" *ngIf="isDisabled == true">
                  <button class="btn btn-primary" (click)="habilitar()">
                    Editar
                  </button>
                  <br />
                  <span>Clic para editar este proveedor</span>
                </div>
                <div class="form-group col-md-6" *ngIf="isDisabled == false">
                  <button type="submit" class="btn btn-primary">
                    Guardar cambios
                  </button>
                  <br />
                  <span>Clic para guardar cambios</span>
                </div>
                <div class="form-group col-md-6">
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="delete()"
                  >
                    Eliminar
                  </button>
                  <br />
                  <span>Clic para eliminar este proveedor</span>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
