
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a routerLink="/" class="navbar-brand" href="#">DIMA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline">
      <!-- <input class="form-control ml-lg-5" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button> -->
    </form>
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a routerLinkActive="active" routerLink="/home" class="nav-link">Todos</a>
      </li>
      <!-- <li *ngFor="let item of categories" class="nav-item">
        <a [routerLink]="['/category',item.id]" class="nav-link" routerLinkActive="active">{{item.name}}</a>
      </li> -->
      <li *ngIf="!isLoggedIn" class="nav-item">
        <a routerLink="/login"class="nav-link">Login</a>
      </li>
      <li *ngIf="!isLoggedIn" class="nav-item">
        <a routerLink="/register" class="nav-link">Register</a>
      </li>
      <!-- <li *ngIf="isLoggedIn" class="nav-item profile">
        <a routerLink="/profile" class="nav-link ">Hello,{{loggedInUser}}</a>
      </li> -->
      <li *ngIf="isLoggedIn" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-user" aria-hidden="true"></i> Hola,{{loggedInUser}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"  routerLink="/account">Mi cuenta</a>
          <a *ngIf="role=='admin'" class="dropdown-item" style="cursor: pointer" (click)="goCMS()">Ir al CMS</a>
          <a class="dropdown-item" style="cursor: pointer" (click)="logout()">Salir</a>
          <!-- <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a> -->
        </div>
      </li>

      <!-- <li *ngIf="isLoggedIn" class="nav-item">
        <a class="nav-link" style="cursor: pointer" (click)="logout()">Salir</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link " routerLink="/orders">Mis Compras</a>
      </li>
      <li class="nav-item cart">
        <a class="nav-link " routerLink="/my-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
        <span class="counter">{{counter}} </span>
      </li>
    </ul>
  </div>
</nav>
