
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFF;">
  <a routerLink="/" class="navbar-brand" href="#"> <img src="../../../../assets/images/logo4.png" height="75"/> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0">
    </form>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/home" class="nav-link">Productos</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/institucional/sugerencias" class="nav-link">Sugerencias y Consejos</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/institucional/quienes-somos" class="nav-link">Nosotros</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/institucional/contacto" class="nav-link">Contáctanos</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/como-comprar" class="nav-link">Cómo comprar</a>
      </li>
      
    </ul>
    <ul class="navbar-nav  datos-usuario">
      <li *ngIf="!isLoggedIn" class="nav-item">
        <a routerLinkActive="active" routerLink="/login"class="nav-link">Iniciar sesión</a>
      </li>
      <li *ngIf="!isLoggedIn" class="nav-item">
        <a routerLinkActive="active" routerLink="/register" class="nav-link">Registrarse</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item dropdown">
        <a routerLinkActive="active" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-user" aria-hidden="true"></i> {{loggedInUser}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"  routerLink="/account">Mi cuenta</a>
          <a *ngIf="role=='admin'" class="dropdown-item" style="cursor: pointer" (click)="goCMS()">Ir al Panel Administrativo</a>
          <a class="dropdown-item" style="cursor: pointer" (click)="logout()">Salir</a>
        </div>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item">
        <a routerLinkActive="active" class="nav-link " routerLink="/orders">Mis Pedidos</a>
      </li>
      <li class="nav-item cart">
        <a class="nav-link " routerLink="/my-cart"><i class="fa fa-shopping-cart" aria-hidden="true">
        </i><span class="badge badge-primary counter">{{counter}}</span></a>       
      </li>
    </ul>
   
  </div>
</nav>
