
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a routerLink="/" class="navbar-brand" href="#">DIMA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0">
      <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
    </form>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/home" class="nav-link">Todos</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/institucional/sugerencias" class="nav-link">Sugerencias y Consejos</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/institucional/quienes-somos" class="nav-link">¿Quienes somos?</a>
      </li>
      
    </ul>
    <ul class="navbar-nav  datos-usuario">
      <li *ngIf="!isLoggedIn" class="nav-item">
        <a routerLink="/login"class="nav-link">Login</a>
      </li>
      <li *ngIf="!isLoggedIn" class="nav-item">
        <a routerLink="/register" class="nav-link">Register</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-user" aria-hidden="true"></i> Hola,{{loggedInUser}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"  routerLink="/account">Mi cuenta</a>
          <a *ngIf="role=='admin'" class="dropdown-item" style="cursor: pointer" (click)="goCMS()">Ir al CMS</a>
          <a class="dropdown-item" style="cursor: pointer" (click)="logout()">Salir</a>
        </div>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item">
        <a class="nav-link " routerLink="/orders">MIS PEDIDOS</a>
      </li>
      <li class="nav-item cart">
        <a class="nav-link " routerLink="/my-cart"><i class="fa fa-shopping-cart" aria-hidden="true">
        </i><span class="badge badge-dark counter">{{counter}}</span></a>       
      </li>
    </ul>
   
  </div>
</nav>
