.form-inline{
  width: 5%;
}

nav{
  min-height: 85px;
  box-shadow: 0px 0px 5px 0px #999;
}

.cart{
  width: 90px;

}

.cart a{
  display: inline-block;
  position: relative;
}
.cart a i{
}
.cart a span{
  position: absolute;
  top: 0px;
  

}
.counter{
  width: 20px;
  height: 20px;
  display: inline-block;
  color: #FFF;
  font-size: 11px;
  padding:4px 0px 0px 0px;
  border-radius: 10px;
}

.active{
  border:1px solid #ACD9B2 !important;
  color:#159983 !important;
  border-radius: 5px;
}
.datos-usuario{
  
}