.active{
  /* border-top:1px solid white !important; */
  /* border-bottom:1px solid white !important; */
  background-color: white !important  ;
}
.active a{
  color:#2980b9 !important;
}
nav{
  height: 10vh;
  
}
.card{
  background-color:  #2980b9 ;
  border: 0;
}
.card button{
  color: white;
  font-weight: bold;
}
aside{
  width: 15%;
  display: block;
  height: auto;
  float: left;
  height: 90vh;
  border-right: 1px solid rgb(197, 195, 195);
}
aside ul{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
aside ul li{
  width: 100%;
  height: auto;
  padding-top:10px;
  padding-bottom: 10px;
  text-align: center;
  padding-right: auto;
  background-color:  #2980b9 ;
  /* border: 1px solid; */
}
aside ul li a{
  color: white;
  font-weight: bold;
  text-decoration: none;
}
main{
  float: right;
  /* margin-top: 0; */
  /* display: inline-block; */
  width: 85%;
  height: 90vh;
  /* height: auto; */
  /* background-color:  #f7f9f9 ; */
  padding: 0 !important;
  margin: 0 !important;
}
.cuerpo div{
  /* border:1px solid; */
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin:0;
}
.cuerpo{
  padding: 0;
  color: white !important;
  background-color:  #2980b9 !important;

}
.cuerpo li{
  color: white !important;

}
.collapse{
  color:white !important;
}

.cuerpo li a{
  color: #2ecc71 !important;
  font-weight: bold;
}

.acc{
  background-color:  #2980b9 !important;

}
.accordion{
  /* background-color:  #2980b9 !important; */

}
