<div class="contenedor">
  <header>
    <h3>Title</h3>
  </header>
  <nav>
    <ul style="text-decoration: none;">
      <li style="text-decoration: none;"><a routerLink="grid">Grid page</a></li>
      <li style="text-decoration: none;"><a routerLink="tasks">Tasks page</a></li>
      <li style="text-decoration: none;">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Collapsible Group Item #1
                </button>
              </h2>
            </div>
        
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                Some placeholder 
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Collapsible Group Item #1
                </button>
              </h2>
            </div>
        
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                Some placeholder 
              </div>
            </div>
          </div>
          
        </div>
      </li>
    </ul>
  </nav>
  <main>
    <router-outlet> </router-outlet>
  </main>
</div>
