<div class="container-fluid text-center" style="background-color: rgb(247, 247, 247);padding-bottom: 10px;padding-top: 6px;">
    <h2><b>CÓMO COMPRAR: PASO A PASO</b></h2>
    <h4 class="text-muted">LOS MEJORES LÁCTEOS A TU MESA</h4>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-5">
            <div class="numero">
                <h4>1 | REGÍSTRATE</h4>
                <p class="text-justify">Crea una cuenta en nuestra tienda online. Ingresa los datos solicitados,
                     nombres y apellidos,correo electrónico de uso frecuente y una contraseña fácil de recordar.</p>
                 <p class="text-justify"><b>Listo! Ahora inicia sesión en nuestra tienda online </b></p>
            </div>
        </div>
        <div class="col-md-7 col-sm-12">
            <img src="../../../../assets/images/pasos/paso-registro-cliente.png" alt="registro">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-5">
            <div class="numero">
                <h4>2 | INICIA SESIÓN</h4>
                <p class="text-justify">Inicia sesión en nuestra tienda online. Ingresa el
                     correo electrónico y contraseña que utilizaste para registrarte.</p>
                 <p class="text-justify"><b>Excelente! Inicia tus compras y lleva los mejores lacteos a tu mesa! </b></p>
            </div>
        </div>
        <div class="col-md-7 col-sm-12">
            <img src="../../../../assets/images/pasos/iniciar-sesion.png" alt="registro">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-5">
            <div class="numero">
                <h4>3 | INGRESA A NUESTRA TIENDA</h4>
                <p class="text-justify">Busca el producto que deseas adquirir por su nombre o elige una subcategoría; ademas puedes 
                    ordernarlos por precio si lo deseas.</p>
                 <p class="text-justify"><b>Encontrarás productos a tu gusto!</b></p>
            </div>
        </div>
        <div class="col-md-7 col-sm-12">
            <img src="../../../../assets/images/pasos/pagina-inicio2.png" alt="home">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-5">
            <div class="numero">
                <h4>4 | AÑADIR AL CARRITO</h4>
                <p class="text-justify">Selecciona los productos y añádelos a tu carrito. Puedes agregar la cantidad de productos que
                     deseas adquirir, haciendo clic en la lista desplegable.</p>
                 <p class="text-justify"><b></b></p>
            </div>
        </div>
        <div class="col-md-7 col-sm-12">
            <img src="../../../../assets/images/pasos/pagina-detalle-producto.png" alt="add-cart">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-5">
            <div class="numero">
                <h4>5 | REVISA TU PEDIDO</h4>
                <p class="text-justify"> Es importante que verifiques la cantidad y los productos que deseas adquirir antes de continuar
                     con el proceso de compra.
                </p>
                 <p class="text-justify">Si deseas agregar más productos puedes revisar los productos complementarios que<b> sugerimos para ti!</b></p>
            </div>
        </div>
        <div class="col-md-7 col-sm-12">
            <img src="../../../../assets/images/pasos/pagina-carrito-compras2.png" alt="revisar-pedido">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-5">
            <div class="numero">
                <h4>6 | SELECCIONA DIRECCIÓN DE ENTREGA</h4>
                <p class="text-justify">Selecciona la dirección en la que deseas recibir nuestros productos.Si aun no cuentas con una dirección
                    puedes agregar una.
                </p>
                 <p></p>
            </div>
        </div>
        <div class="col-md-7 col-sm-12">
            <img src="../../../../assets/images/pasos/pagina-seleccionar-direccion.png" alt="selec-direccion">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-5">
            <div class="numero">
                <h4>6 | VERIFICA LOS DETALLES DE FACTURACIÓN Y PEDIDO</h4>
                <p class="text-justify">A continuación, verifica tus datos de facturación y completa los campos en caso de estar vacíos.
                    También tienes la opción de modificar tu pedido por última vez a través del botón "Modificar pedido".
                </p>
                 <p></p>
            </div>
        </div>
        <div class="col-md-7 col-sm-12">
            <img src="../../../../assets/images/pasos/detalle-fact-pedido.png" alt="detalles">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-5">
            <div class="numero">
                <h4>6 | REALIZA EL PAGO</h4>
                <p class="text-justify">Ingresa los datos de facturación en los campos que estén vacíos.
                    Puedes realizar tu pago por medio de tarjeta de crédito y debito.
                </p>
                <p>Ingresa los datos solicitados para completar tu proceso de pago por medio de Stripe.</p>
                 <p>Si tienes algun problema con el pago por medio de tarjeta, no dudes en comunicarte
                    por whatsapp <a target="_blank" href="https://wa.link/2ya5hx">0989702475</a> par ayudarte a solucionar el problema.
                 </p>
            </div>
        </div>
        <div class="col-md-7 col-sm-12">
            <img src="../../../../assets/images/pasos/metodo-pago.png" alt="realizar-pago">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-5">
            <div class="numero">
                <h4>7 | COMPRA REALIZADA</h4>
                <p class="text-justify">Cuando la compra se haya realizado con éxito se mostrará en pantalla un mensaje
                    de confirmación y serás redirido a la sección de tus pedidos.</p>
                <p><b>Es importante recordar:</b></p>
                <p>Las entregas se realizan 5 días hábiles en la semana (Lunes a Viernes).</p>
                <p>Si tienes preguntas al realizar tu compra puedes revisar la sección de pregunta frecuentes en la tienda.</p>
            </div>
        </div>
        <div class="col-md-7 col-sm-12">
            <img src="../../../../assets/images/pasos/pago-exitoso.png" alt="pago-exitoso">
        </div>
    </div>
    
</div>

<app-footer></app-footer>
