<div class="container mt-4">
    <div class="row">
        <div class="col-md-5">
            <div class="numero">
                <h4>1 | REGÍSTRATE</h4>
                <p class="text-justify">Crea una cuenta en nuestra tienda online. Ingresa los datos solicitados,
                     nombres y apellidos,correo electrónico de uso frecuente y una contraseña fácil de recordar.</p>
                 <p class="text-justify"><b>Listo! Ahora inicia sesión en nuestra tienda online </b></p>
            </div>
        </div>
        <div class="col-md-7">
            <img src="../../../../assets/images/pasos/paso-registro-cliente.png" alt="registro">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-5">
            <div class="numero">
                <h4>2 | INICIA SESIÓN</h4>
                <p class="text-justify">Inicia sesión en nuestra tienda online. Ingresa el
                     correo electrónico y contraseña que utilizaste para registrarte.</p>
                 <p class="text-justify"><b>Excelente! Inicia tus compras y lleva los mejores lacteos a tu mesa! </b></p>
            </div>
        </div>
        <div class="col-md-7">
            <img src="../../../../assets/images/pasos/iniciar-sesion.png" alt="registro">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-5">
            <div class="numero">
                <h4>3 | INGRESA A NUESTRA TIENDA</h4>
                <p class="text-justify">Busca el producto que deseas adquirir por su nombre o elige una subcategoría; ademas puedes 
                    ordernarlos por precio si lo deseas.</p>
                 <p class="text-justify"><b>Encontrarás productos a tu gusto!</b></p>
            </div>
        </div>
        <div class="col-md-7">
            <img src="../../../../assets/images/pasos/pagina-inicio2.png" alt="registro">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-5">
            <div class="numero">
                <h4>4 | AÑADIR AL CARRITO</h4>
                <p class="text-justify">Selecciona los productos y añádelos a tu carrito. Puedes agregar la cantidad de productos que
                     deseas adquirir, haciendo clic en la lista desplegable.</p>
                 <p class="text-justify"><b></b></p>
            </div>
        </div>
        <div class="col-md-7">
            <img src="../../../../assets/images/pasos/pagina-detalle-producto.png" alt="registro">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-5">
            <div class="numero">
                <h4>5 | REVISA TU PEDIDO</h4>
                <p class="text-justify"> Es importante que verifiques la cantidad y los productos que deseas adquirir antes de continuar
                     con el proceso de compra.
                </p>
                 <p class="text-justify">Si deseas agregar más productos puedes revisar los productos complementarios que<b> sugerimos para ti!</b></p>
            </div>
        </div>
        <div class="col-md-7">
            <img src="../../../../assets/images/pasos/pagina-carrito-compras.png" alt="registro">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-5">
            <div class="numero">
                <h4>6 | SELECCIONA DIRECCIÓN DE ENTREGA</h4>
                <p class="text-justify">Selecciona la dirección en la que deseas recibir nuestros productos.Si aun no cuentas con una dirección
                    puedes agregar una.
                </p>
                 <p></p>
            </div>
        </div>
        <div class="col-md-7">
            <img src="../../../../assets/images/pasos/pagina-seleccionar-direccion.png" alt="registro">
        </div>
    </div>
</div>

<app-footer></app-footer>
