<div class="container">
    <nav aria-label="breadcrumb" class="nav_barra">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Inicio</a></li>
        <li class="breadcrumb-item"><a routerLink="/account">Mi cuenta</a></li>
        <li class="breadcrumb-item active" aria-current="page">Pedidos</li>
      </ol>
    </nav>
</div>
<div class="container principal mt-4">
  <h5 class="mb-3" style="color: rgb(97, 92, 92);
  ">Lista de pedidos realizados</h5>
  <div class="table-responsive">
    <table class="table table-bordered" *ngIf="orders.length > 0; else elseBlock">
      <thead class="">
        <tr class="text-center">
          <th scope="col">Id</th>
          <th scope="col">Total</th>
          <th scope="col">Fecha de pedido</th>
          <th scope="col">Estado</th>
          <th scope="col">Detalle</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders; let indice = index" class="text-center">
          <td>{{ order.id }}</td>
          <td>{{ order.total | currency }}</td>
          <td>{{ order.created_at | date:'short' }}</td>
          <td><span class="badge badge-warning">{{order.status}}</span></td>
          <td>
            <button
              type="button"
              class="btn btn-primary"
              data-toggle="modal"
              data-target="#exampleModal"
              (click)="verDetalle(order.id, order.address_id)"
            >
              Ver detalle
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <p></p>
  <ng-template #elseBlock>
    <div class="container orderVacias text-center">
      <h3>No tienes compras todavía</h3>
      <img src="../../../../assets/images/shop.png" alt=""> <br>
      <br>
      <button class="btn btn-primary" [routerLink]="['/home']">Empezar a comprar</button>
      <p></p>
    </div>
  </ng-template>
</div>
<app-footer></app-footer>
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalle de compra</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-borderless text-center">
          <thead>
            <tr>
              <th scope="col">Número de orden</th>
              <th scope="col">Fecha del pedido</th>
              <th scope="col">Estado</th>
              <th scope="col">Total compra</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{idOrder}}</td>
              <td>{{fecha| date:'short'}}</td>
              <td><span class="badge badge-warning">{{estado}}</span></td>
              <td>{{total | currency:'$'}}</td>
            </tr>
            <!-- <h5 style="">Total:{{ total | currency }}</h5> -->
          </tbody>
        </table>
        <table class="table table-bordered text-center mt-3">
          <thead>
            <tr>
              
              <th>Detalles del pedido</th>
            </tr>
            <tr>
              <th scope="col">Producto</th>
              <th scope="col">Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detail of detailOrder">
              <td>{{ detail.name }} {{ detail.presentation }}</td>
              <td>x {{detail.quantity}}</td>
            </tr>
            <tr>
              <td colspan="1">
              </td>
              <th>Total: {{total | currency:'$'}}</th>
              </tr>
          </tbody>
        </table>
        <table class="table table-borderless text-center dt-envioYFact">
          <thead>
            <tr style="border: 1px solid  rgb(216, 210, 210);">
              <td colspan="1"></td>
              <th>Detalles De Envío y Facturación</th>
            </tr>
            <tr>
              <th>Dirección de envío</th>
              <th>Método de envío</th>
              <th>Método de pago</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{dirEnvio.address}} <br> {{dirEnvio.city}} - {{dirEnvio.state}} - {{dirEnvio.country}}</td>
              <td>Envío estándar (1-5 días) </td>
              <td>Tarjeta de crédito/débito</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
