.container-fluid{
    border-bottom: 1px solid rgb(190, 190, 190);
    height: 70px;
    background-color: white;
    margin: 0 !important;
}
.container-fluid .form-group h1,h4{
    color: rgb(23, 108, 235);
}
.txt1{
    text-align: justify;
    height: 150px;
    width: 100%;
}
.txt2{
    text-align: justify;
    height: 150px;
    width: 100%;
}
.txt3{
    text-align: justify;
    height: 150px;
    width: 100%;
}