<div class="container-fluid c1">
  <button class="btn btn-primary" routerLink="/cms/customers">
    <i class="fa fa-arrow-left" aria-hidden="true"></i> Clientes
  </button>
</div>

<!-- Editar cliente -->
<div class="container mt-2">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-header text-center">
          <h5 class="card-title">Información del cliente</h5>
        </div>
        <form #editForm="ngForm" (ngSubmit)="editarCliente(editForm)">
          <div class="card-body">
            <div class="form-row">
              <div class="form-group col-md-6 mb-3">
                <label>Nombres</label>
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  placeholder=""
                  #refNewName="ngModel"
                  [(ngModel)]="client.name"
                  [ngClass]="{
                    'is-invalid': refNewName.errors && refNewName.touched
                  }"
                  required
                  [disabled]="isDisabled"
                />
                <div
                  [hidden]="!refNewName.errors?.required"
                  class="invalid-feedback"
                >
                  Nombre requerido
                </div>
              </div>
              <div class="form-group col-md-6 mb-3">
                <label for="">Apellidos</label>
                <input
                  type="text"
                  class="form-control"
                  name="lastName"
                  #refNewLastName="ngModel"
                  [(ngModel)]="client.last_name"
                  [ngClass]="{
                    'is-invalid':
                      refNewLastName.errors && refNewLastName.touched
                  }"
                  required
                  [disabled]="isDisabled"
                />
                <div
                  [hidden]="!refNewLastName.errors?.required"
                  class="invalid-feedback"
                >
                  Apellidos requeridos
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6 mb-3">
                <label>Cédula/R.U.C</label>
                <input
                  type="text"
                  class="form-control"
                  name="dni"
                  placeholder=""
                  pattern="^((\\+91-?)|0)?[0-9]{10,13}$"
                  #refNewDni="ngModel"
                  [(ngModel)]="client.dni"
                  [ngClass]="{
                    'is-invalid': refNewDni.errors && refNewDni.touched
                  }"
                  minlength="10"
                  maxlength="13"
                  required
                  [disabled]="isDisabled"
                />
                <div
                  [hidden]="!refNewDni.errors?.required"
                  class="invalid-feedback"
                >
                  Cédula/R.U.C requerido
                </div>
                <div
                [hidden]="!refNewDni.errors?.pattern"
                class="invalid-feedback"
              >
                Cédula/R.U.C inválido
              </div>
              <div
                [hidden]="!refNewDni.errors?.minlength"
                class="invalid-feedback"
              >
                Se require de al menos 10 dígitos
              </div>
              </div>
              <div class="form-group col-md-6 mb-3">
                <label>Teléfono</label>
                <input
                  type="text"
                  class="form-control"
                  name="phone"
                  pattern="^((\\+91-?)|0)?[0-9]{10}$"
                  #refNewPhone="ngModel"
                  [(ngModel)]="client.phone"
                  [ngClass]="{
                    'is-invalid': refNewPhone.errors && refNewPhone.touched
                  }"
                  minlength="10"
                  maxlength="10"
                  required
                  [disabled]="isDisabled"
                />
                <div
                  [hidden]="!refNewPhone.errors?.required"
                  class="invalid-feedback"
                >
                  Teléfono requerido
                </div>
                <div
                [hidden]="!refNewPhone.errors?.pattern"
                class="invalid-feedback"
              >
                Número de teléfono inválido
              </div>
              <div
                [hidden]="!refNewPhone.errors?.minlength"
                class="invalid-feedback"
              >
                Se require de 10 dígitos
              </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col mb-3">
                <label for="">E-mail</label>
                <input
                  type="text"
                  class="form-control"
                  name="email"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                  #refNewEmail="ngModel"
                  [(ngModel)]="client.user.email"
                  [ngClass]="{
                    'is-invalid': refNewEmail.errors && refNewEmail.touched
                  }"
                  required
                  [disabled]="isDisabled"
                />
                <div
                  [hidden]="!refNewEmail.errors?.required"
                  class="invalid-feedback"
                >
                  E-mail requerido
                </div>
                <div
                [hidden]="!refNewEmail.errors?.pattern"
                class="invalid-feedback"
              >
                E-mail no válido
              </div>
              
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="container-fluid">
                <div class="form-row text-center">
                  <div class="form-group col-md-6" *ngIf="isDisabled==true">
                    <button  class="btn btn-primary" (click)="habilitar()">
                      Editar
                    </button> <br>
                    <span>Clic para editar este cliente</span>
                  </div>
                  <div class="form-group col-md-6" *ngIf="isDisabled==false">
                    <button  type="submit" class="btn btn-primary">
                      Guardar cambios
                    </button> <br>
                    <span>Clic para guardar cambios</span>
                  </div>
                  <div class="form-group col-md-6">
                    <button
                    type="button"
                    class="btn btn-danger"
                    (click)="deleteClient()"
                  >
                    Eliminar
                  </button> <br>
                  <span>Clic para eliminar este cliente</span>
    
                </div>
               
                </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
