<div class="container-fluid mt-4">
    <table class="table table-bordered" *ngIf="ordersPending.length > 0; else elseBlock">
      <thead class="">
        <tr>
          <!-- <th scope="col">#</th> -->
          <th scope="col">N° Orden</th>
          <th scope="col">Total pagado</th>
          <th scope="col">Fecha</th>
          <th scope="col">Cliente </th>
          <th scope="col">Id transaccion</th>
          <th scope="col">Estado</th>
          <th scope="col">Despachar orden</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of ordersPending; let indice = index">
          <!-- <th scope="row">{{ indice + 1 }}</th> -->
          <td>{{ order.id }}</td>
          <td>{{ order.total | currency }}</td>
          <td>{{ order.created_at | date:'short' }}</td>
          <td>{{ order.name }}</td>
          <td>{{ order.id_transaccion }}</td>
          <td>Pagado</td>
          <td><button class="btn btn-danger" (click)="confirmarOrden(order.id)" >Confirmar</button> </td>
         
        </tr>
      </tbody>
    </table>
    <p></p>
    <ng-template #elseBlock>
      <div class="div">
        <h3>No hay órdenes pendientes</h3>
        
        <p></p>
      </div>
    </ng-template>
   
  </div>
  