<div class="container-fluid">
  <div class="form-group">
    <h4>Pedidos pendientes</h4>
    <span>Lista de pedidos pendientes</span>
  </div>
</div>
<div class="container-fluid mt-3">
    <table class="table table-bordered">
      <thead class="">
        <tr>
          <!-- <th scope="col">#</th> -->
          <th scope="col">N° Orden</th>
          <th scope="col">Cliente </th>
          <th scope="col">Total pagado</th>
          <th scope="col">Fecha</th>
          <th scope="col">Id transaccion</th>
          <th scope="col">Estado</th>
          <th scope="col">Envio</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of ordersPending; let indice = index">
          <td>{{ order.id }}</td>
          <td>{{ order.name }}</td>
          <td>{{ order.total | currency }}</td>
          <td>{{ order.created_at | date:'short' }}</td>
          <td>{{ order.id_transaccion }}</td>
          <td><span class="badge badge-warning">{{order.status}}</span></td>
          <td><button class="btn btn-success" [routerLink]="['/cms/orders/pendientes/confirm',order.id]">Envio</button> </td>
          <td><button type="button" class="btn btn-info" [routerLink]="['/cms/factura/order',order.id]">
            Detalle del pedido
          </button>
          </td>
         
        </tr>
      </tbody>
    </table>
    <p></p>
    <ng-template #elseBlock>
      <div class="div">
        <h3>No hay órdenes pendientes</h3>
        
        <p></p>
      </div>
    </ng-template>
   
  </div>
  