<!-- <img width="200" [src]="product.image"> -->

<!-- <h2>{{product.price | currency:'MXN'}}</h2>
<p>{{product.name}}</p>
<p>{{product?.taxes | currency:'MXN'}}</p> -->

<!-- <p appHighlight>{{product.description}}</p> -->
<!-- <button (click)="onShowDetail()">Ver detalle</button> -->
<!-- <button (click)="onAddToCart()">Add cart</button> -->
<div class="card mb-3">
  <a [routerLink]="['/product', product.id]">
    <app-img [img]="product.image"></app-img>
  </a>
  <div class="card-body text-center">
    <h5 class="card-title">
      {{ product.name }} {{product.sleeve_color}} {{ product.presentation }} {{product.flavor}}
    </h5>
    <p class="card-text text-center"><b>Proalim</b></p>
    <p class="card-text">{{ product.price | currency: "$" }}</p>
    <!-- <button class="btn btn-primary float-left" (click)="onAddToCart()">
        {{agregado==true?'En el carrito':'Agregar cart'}}
      </button> -->
    <!-- <button class="btn btn-primary float-left" (click)="onAddToCart()">
        Ver producto
      </button> -->
    <button
      class="btn btn-primary"
      [routerLink]="['/product', product.id]"
    >
    <i class="fa fa-eye" aria-hidden="true"></i> Ver
    </button>

    <!-- <div class="form-group">
        <label for="text">elija cantidad</label>
        <input type="number" class="form-control" name="cantidad" [(ngModel)]="cantidad" required>
      </div> -->

    <!-- <a routerLink="." [queryParams]="{product:product.id}">Ver detalle</a> -->
  </div>
</div>
<br>