<div class="container">
  <nav aria-label="breadcrumb" class="nav_barra">
    <ol class="breadcrumb">
      <li class="breadcrumb-item br1"><a routerLink="/home">Inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page">Carrito de compras</li>
    </ol>
  </nav>
</div>
<div class="container principal mt-4">
  <table class="table table-bordered" *ngIf="products.length > 0; else elseBlock">
    <thead class="">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Subtotal</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; let indice = index">
        <th scope="row">{{ indice + 1 }}</th>
        <td><p>{{product.name}} {{product.presentation}} {{product.sleeve_color}} {{product.flavor}} </p><img [src]="product.image" alt="" width="120" class="img-producto"/> </td>
        <td>{{ product.price | currency:'$'}}</td>
        <td class="text-center">
          <div class="form-row todo">
            <button (click)="restar(product.id)" class="btn border boton-restar">-</button>
            <input type="text" name="oferta" id="" value="{{product.oferta}}" disabled class="input-cantidad text-center">
            <button (click)="sumar(product.id)" class="btn border boton-sumar">+</button>
          </div>
          
        </td>
        <td>{{ product.subtotal |currency}}</td>
        <td class="text-center">
          <button
            class="btn btn-danger"
            (click)="eliminarProducto(product.id)"
          >
          <i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <h4 *ngIf="products.length > 0" class="pr-5 h-total text-right">Total ({{numProducts}} productos): {{total | currency}}</h4>

  <ng-template #elseBlock>
    <div class="container carroVacio text-center">
      <h4 class="mt-2 mb-3">Carrito vacío</h4>
      <img src="../../../../assets/images/carrito.png" alt=""> <br>
      <br>
      <button class="btn btn-primary" [routerLink]="['/home']">Empezar a comprar</button>
      <p></p>
    </div>
  </ng-template>
  <button
    *ngIf="logueado == true && products.length>0; else elseShow"
    class="btn btn-primary float-right mr-5 mt-3 btn-pago"
    
    [routerLink]="['/checkout']"
  >Ir a pagar <i class="fa fa-arrow-right" aria-hidden="true"></i> 
  </button>
 <div class="clear-fix"></div>
  <button
    *ngIf="products.length>0; else elseShow"
    class="btn btn-primary float-right mr-5 mt-3 btn-pago"
    
    [routerLink]="['/home']"
  ><i class="fa fa-arrow-left" aria-hidden="true"></i> Seguir comprando
  </button>
 
  <ng-template #elseShow>
    <button *ngIf="products.length>0" [routerLink]="['/login']" class="btn btn-primary btn-login float-right mr-5">
      Acceder a mi cuenta y pagar
    </button>
    <div class="clear-fix"></div>

    <button *ngIf="products.length>0" [routerLink]="['/register']" class="btn btn-primary btn-register float-right mr-5 mt-3">
      Registrarme y pagar
    </button>
  </ng-template>

</div>
<app-footer></app-footer>

