.principal{
    padding-bottom: 100px;
}
.h-total{
    display: block;
    width: 100%;
}

.btn-pago{
    display: block;
}
.carroVacio{
    border: 1px solid;
    border-color: rgb(216, 210, 210);
    border-radius: 10px;   
}
.nav_barra ol{
    background-color: transparent;
}
.clear-fix{
    clear: both;
}

.input-cantidad{
    height: 39px;
    border: 1px solid rgb(201, 200, 200);
    width: 100px;
}

.boton-restar{
   border-radius: 0;
   margin-left: 63px;
   /* font-weight: bold; */
   width: 38px;
   background-color: rgb(235, 235, 235);
}
.boton-sumar{
    border-radius: 0;
    font-weight: bold;
    background-color: rgb(235, 235, 235);

 }