.principal{
    padding-bottom: 100px;
}
.h-total{
    display: block;
    width: 100%;
}

.btn-pago{
    display: block;
}
.carroVacio{
    border: 1px solid;
    border-color: rgb(216, 210, 210);
    border-radius: 10px;   
}
.nav_barra ol{
    background-color: transparent;
}
.clear-fix{
    clear: both;
}