<div class="container-fluid mt-4">
  <table class="table table-hover" *ngIf="products.length > 0; else elseBlock">
    <thead class="">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Sabor</th>
        <th scope="col">cantidad</th>
        <th scope="col">subtotal</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; let indice = index">
        <th scope="row">{{ indice + 1 }}</th>
        <td><img [src]="product.image" alt="" width="120" /></td>
        <td>{{ product.price }}</td>
        <td>{{ product.flavor }}</td>
        <td>
          <div class="">
            <button (click)="restar(product.id)">-</button>
            <!-- <select name="miselect" class="select" [ngModel]="product.oferta" #nombreSelect>
              <option [value]="product.oferta">
                {{ product.oferta }}
              </option>
              <option value="item" *ngFor="let item of listaOferta">{{item}}
              </option>
            </select> -->
            <input type="text" name="oferta" id="" value="{{product.oferta}}" disabled>
            <button (click)="sumar(product.id)">+</button>
          </div>
          
        </td>
        <td>{{ product.subtotal |currency}}</td>
        <td>
          <button
            class="btn btn-primary"
            (click)="eliminarProducto(product.id)"
          >
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <h4 *ngIf="products.length > 0" class="pr-5 h-total text-right">Total({{numProducts}} productos):{{total | currency}}</h4>
  <p></p>
  <ng-template #elseBlock>
    <div class="container carroVacio text-center">
      <h3>Carrito vacio</h3>
      <img src="../../../../assets/images/carrito.png" alt=""> <br>
      <br>
      <button class="btn btn-primary" [routerLink]="['/home']">Empezar a comprar</button>
      <p></p>
    </div>
  </ng-template>
  <button
    *ngIf="logueado == true && products.length>0; else elseShow"
    class="btn btn-primary float-right mr-5 btn-pago"
    
    [routerLink]="['/checkout']"
  >
    Proceder al pago
  </button>
  <!-- <h2>el total a pagar es: {{total}}</h2>
  <h2>la cantidad de productos es {{cantidadTotal}}</h2> -->
  <ng-template #elseShow>
    <button *ngIf="products.length>0" [routerLink]="['/login']" class="btn btn-primary btn-login">
      Acceder a mi cuenta y pagar
    </button>
    <p></p>
    <button *ngIf="products.length>0" [routerLink]="['/register']" class="btn btn-primary btn-register">
      Registrarme y pagar
    </button>
  </ng-template>

</div>
