.address-detail {
  border-style: solid;
  border-color: rgb(221, 221, 221);
  border-radius: 5px;
  /* padding-left: 2px; */
  /* cursor: pointer; */
  border-width: 1px;
}
.address-detail span {
  font-size: small !important;
}
.link-new-address:hover {
  text-decoration: underline;
}
.datos {
  width: 450px;
  /* margin-left: 25vw; */
  border: 1px solid #d6d3d2;
  padding: 20px 20px;
  margin: 0 auto;
}
.disabled {
  pointer-events: none;
  opacity: 0.7;
}
.tabla {
  border: 1px solid;
  border-color: rgb(206, 203, 203);
  border-radius: 5px;
  padding: 5px 0px 0px 12px;
}
.titular {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.titular:focus {
  border: transparent !important;
  outline: none !important;
  outline-offset: 0px;
 
}
.titular:active {
  outline: none !important;
  outline-offset: 0 !important;
}
.img1 {
  float: left;
  width: 90px;
}

.padre {
  height: 57.25px;
  align-items: center;
  display: flex;
  padding-left: 5px;
  color: #a09e9e;
}
.nav_barra ol{
  background-color: transparent;
}
@media (max-width:414px){
  .address-detail{
    margin-bottom: 8px;
    margin-left: 11%;
  }
  .card{
    margin-bottom: 10px;
  }
  .datos{
    width: 100%;
  }
}