<div class="container">
  <nav aria-label="breadcrumb" class="nav_barra">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Inicio</a></li>
      <li class="breadcrumb-item"><a routerLink="/account">Carrito de compras</a></li>
      <li class="breadcrumb-item active" aria-current="page">Pago</li>
    </ol>
  </nav>
</div>
<div class="container">
  <!-- <button (click)="cambiarEstado()"></button> -->
  <!--[ngCl ass]="{'rojo':disabled,'azul':!disabled}" -->
  <div class="step1 mt-3">
    <img src="../../../../assets/images/paso1.png" alt="" class="img1">
    <div class="padre mb-3">
      <h4 class="titulo_p1">Seleccionar una dirección de envío</h4>

    </div>
    <p style="text-align: justify;">
      ¿Aparece a continuación la dirección que deseas utilizar? Si es así, haz
      clic sobre ella. O puedes
      <a
        class="link-new-address"
        (click)="capturar()"
        style="cursor: pointer; color: rgb(6, 102, 228)"
        data-toggle="modal"
        data-target="#exampleModal"
      >
        introducir una nueva dirección de envío.
      </a>
    </p>
    <!-- Modal para agregar nueva direccion -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Agregar nueva dirección
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              #botonCerrar
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form #addForm="ngForm" (ngSubmit)="addAddress(addForm)">
            <div class="modal-body">
              <div class="form-row">
                <div class="form-group col mb-3">
                  <label>Direccion</label>
                  <input
                    type="text"
                    class="form-control"
                    name="address"
                    placeholder=""
                    #nameAddress="ngModel"
                    [(ngModel)]="address"
                    [ngClass]="{
                      'is-invalid': nameAddress.errors && nameAddress.touched
                    }"
                    required
                  />
                  <div
                    [hidden]="!nameAddress.errors?.required"
                    class="invalid-feedback"
                  >
                    Dirección requerida
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4 mb-3">
                  <label for="validationCustom03">Ciudad</label>
                  <input
                    type="text"
                    class="form-control"
                    #nameCity="ngModel"
                    name="city"
                    [(ngModel)]="city"
                    [ngClass]="{
                      'is-invalid': nameCity.errors && nameCity.touched
                    }"
                    required
                  />
                  <div
                    [hidden]="!nameCity.errors?.required"
                    class="invalid-feedback"
                  >
                    Ciudad requerida
                  </div>
                </div>
                <div class="form-group col-md-4 mb-3">
                  <label>Provincia</label>

                  <input
                    type="text"
                    class="form-control"
                    #nameState="ngModel"
                    name="state"
                    placeholder=""
                    [(ngModel)]="state"
                    [ngClass]="{
                      'is-invalid': nameState.errors && nameState.touched
                    }"
                    required
                  />
                  <div
                    [hidden]="!nameState.errors?.required"
                    class="invalid-feedback"
                  >
                    Provincia requerida
                  </div>
                </div>
                <div class="form-group col-md-4 mb-3">
                  <label>Pais</label>
                  <input
                    type="text"
                    class="form-control"
                    #nameCountry="ngModel"
                    name="country"
                    [(ngModel)]="country"
                    [ngClass]="{
                      'is-invalid': nameCountry.errors && nameCountry.touched
                    }"
                    required
                  />
                  <div
                    [hidden]="!nameCountry.errors?.required"
                    class="invalid-feedback"
                  >
                    País requerido
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4 mb-3">
                  <label>Codigo postal</label>
                  <input
                    type="text"
                    class="form-control"
                    #namePostalCode="ngModel"
                    name="postal_code"
                    pattern="^((\\+91-?)|0)?[0-9]{6}$"
                    [(ngModel)]="postal_code"
                    [ngClass]="{'is-invalid':namePostalCode.errors && namePostalCode.touched}"
                    required 
                    minlength="6"
                    maxlength="6"
                    />
                     <div [hidden]="!namePostalCode.errors?.required" class="invalid-feedback">
                    Código postal requerido</div>
                    <div [hidden]="!namePostalCode.errors?.pattern" class="invalid-feedback">
                      Código postal inválido</div>
                     <div [hidden]="!namePostalCode.errors?.minlength" class="invalid-feedback">
                    Debe contener 6 caracteres</div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Cancelar
              </button>
              <button type="submit" class="btn btn-primary">
                Guardar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="container row direcciones mb-4">
      <div
        class="form-check col-md-3 mr-3 address-detail"
        *ngFor="let d of addresses; let i = index"
      >
        <input
          class="form-check-input"
          type="radio"
          name="exampleRadios"
          id="exampleRadios1"
          value="option1"
          (click)="capturarIdAddress(d.id)"
        />
        <label class="form-check-label" for="exampleRadios1">
          <!-- <span>{{ d.name_lastname }}</span> <br /> -->
          <span>Dirección: {{ d.address }}</span
          ><br />
          <span>Ciudad: {{ d.city }}</span
          ><br />
          <span>Provincia: {{ d.state }}</span
          ><br />
          <span>Pais: {{ d.country }}</span
          ><br />
          <span>Código postal: {{ d.postal_code }}</span
          ><br />
        </label>
      </div>
      <div class="col-lg-12 mt-3">
      </div>
    </div>
  </div>
 <hr>
  <div class="step2 mb-5">
    <!-- [ngClass]="{ disabled: disabledStep2 }" -->
    <img src="../../../../assets/images/paso2.png" alt="" class="img1">
    <div class="padre mb-3">
      <h4>Detalles de facturación y pedido</h4>
    </div>
    <p style="text-align:justify ;">A continuación, revisa y completa tus datos de facturación en caso de ser necesario. También puedes modificar por última vez tu pedido.</p>
    <div class="row info-pedido mt-3">
      <div class="col">
        <div class="card">
          <div class="card-header">Detalles de facturación</div>
          <div class="card-body">
            <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputNombres"
                    >Nombres<span style="color: red"> *</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="inputNombres"
                    name="customer_name"
                    [(ngModel)]="customer_name"
                    disabled
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="inputApellidos"
                    >Apellidos<span style="color: red"> *</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="inputApellidos"
                    name="customer_lastName"
                    [(ngModel)]="customer_lastName"
                    disabled
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputCedula"
                    >C.I/R.U.C<span style="color: red"> *</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="inputCedula"
                    name="customer_dni"
                    [(ngModel)]="customer_dni"
                    [disabled]="disabledInput"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="inputTelefono"
                    >Teléfono<span style="color: red"> *</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="inputTelefono"
                    name="customer_phone"
                    [(ngModel)]="customer_phone"
                    [disabled]="disabledInput"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="inputCorreo"
                  >Correo<span style="color: red"> *</span></label
                >
                <input
                  type="email"
                  class="form-control"
                  id="inputCorreo"
                  placeholder="example@email.com"
                  name="customer_email"
                  [(ngModel)]="customer_email"
                  disabled
                />
              </div>
              <div class="form-group">
                <label for="inputAddress"
                  >Direccion<span style="color: red"> *</span></label
                >
                <div class="tabla">
                  <table class="table">
                    <tbody *ngIf="addressSelected; else showMessage">
                      <tr>
                        {{
                          addressSelected.address
                        }}
                      </tr>

                      <tr>
                        {{
                          addressSelected.city
                        }}
                        -
                        {{
                          addressSelected.state
                        }}
                        -
                        {{
                          addressSelected.country
                        }}
                      </tr>
                      <tr>
                        {{
                          addressSelected.postal_code
                        }}
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </form>

            <ng-template #showMessage>
              <h6 style="text-align: justify;">
                Los datos de direccion se mostrarán despues de seleccionar una
                dirección de envio.
              </h6>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">Resumen del pedido</div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Producto</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of cart; let indice = index">
                  <td>{{ p.name }} {{ p.presentation }} {{p.sleeve_color}} {{p.flavor}} x {{ p.oferta }}</td>
                  <td>{{ p.subtotal | currency:'$' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer text-muted text-right pr-5">
            <h6>
              Subtotal: <b style="font-size: 15px">{{ total | currency:'$' }}</b>
            </h6>
            <h6>Iva: <b style="font-size: 15px">$0.00</b></h6>
            <h6>
              Envío (Tarifa fija): <b>{{tarifaFija|currency:'$'}}</b>
            </h6>
            <h5>
              Total:
              <b style="font-size: 20px">{{ total + tarifaFija | currency:'$' }}</b>
            </h5>
            <hr />
            <button
              class="btn btn-primary mt-2"
              [routerLink]="['/my-cart']"
            >
              Modificar pedido
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
<hr>
  <div class="step3 mt-3">
    <img src="../../../../assets/images/paso3.png" alt="" class="img1">
    <div class="padre">
      <h4>Método de pago</h4>
    </div>
    <!-- <p>A continuación, eleccione agregar una tarjetaa de credito o debito</p> -->

    <div class="container checkout-card mt-3">
      <div class="checkbox-alert mb-3">
        <p style="text-align: justify;">A continuación debes de introducir los datos de tu tarjeta para
          realizar el pago. </p>
       
      </div>
      <form action="" class="datos" (submit)="initPay()">
        <div class="text-center mb-3">
          <img src="../../../../assets/images/logo4.png" alt="" width="150" />
       
        </div>
        <div class="form-group">
          <label for="inputNombre"
            >Nombre del titular<span style="color: red"> *</span></label
          >
          <input
            type="text"
            class="form-control titular"
            name="nameTitular"
            placeholder=""
            [(ngModel)]="nameTitular"
          />
        </div>
        <div class="form-group">
          <label>Número de tarjeta<span style="color: red"> *</span></label>
          <div id="card"></div>
        </div>
        <hr />
        <div class="form-group">
          <label>CVC<span style="color: red"> *</span></label>
          <div id="cvc"></div>
        </div>
        <hr />
        <div class="form-group">
          <label>Fecha de vencimiento<span style="color: red"> *</span></label>
          <div id="exp"></div>
        </div>
        <button
          class="btn btn-success btn-block mb-3"
          type="submit"
          onfocus="this.blur()"
          [disabled]="isDisabled"
        >
          Pagar {{ total + tarifaFija | currency }}
        </button>
        <div class="text-center" *ngIf="isDisabled==true">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
