<div class="container">
  <!-- <button (click)="cambiarEstado()"></button> -->
  <!--[ngCl ass]="{'rojo':disabled,'azul':!disabled}" -->
  <div class="step1" [ngClass]="{ disabled: disabledStep1 }">
    <h1>1 PASO --> Seleccionar una dirección de envío</h1>
    <p>
      ¿Aparece a continuación la dirección que deseas utilizar? Si es así, haz
      clic en el botón "Enviar a esta dirección". O puedes
      <a
        class="link-new-address"
        (click)="capturar()"
        style="cursor: pointer; color: blue"
        data-toggle="modal" data-target="#exampleModal"
      >
        introducir una nueva dirección de envío.
      </a>
    </p>
    <!-- Modal para agregar nueva direccion -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Agregar nueva dirección</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>        
                <form class="needs-validation" novalidate (ngSubmit)="addAddress()">
                  <div class="modal-body">
                    <div class="form-row">
                      <div class="form-group col mb-3">
                        <label for="validationCustom03">Direccion</label>
                        <input
                          type="text"
                          class="form-control"
                          id="validationCustom03"
                          name="address"
                          placeholder=""
                          [(ngModel)]="address"
                        />
                        <div class="invalid-feedback">Please provide a valid city.</div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-4 mb-3">
                        <label for="validationCustom03">Ciudad</label>
                        <input
                          type="text"
                          class="form-control"
                          id="validationCustom03"
                          name="city"
                          [(ngModel)]="city"
                        />
                        <div class="invalid-feedback">Please provide a valid city.</div>
                      </div>
                      <div class="form-group col-md-4 mb-3">
                        <label for="validationCustom04">Provincia</label>
                       
                        <input
                          type="text"
                          class="form-control"
                          id="validationCustom03"
                          name="state"
                          placeholder=""
                          [(ngModel)]="state"
                        />
            
                        <div class="invalid-feedback">Please select a valid state.</div>
                      </div>
                      <div class="form-group col-md-4 mb-3">
                        <label for="validationCustom05">Pais</label>
                        <input
                          type="text"
                          class="form-control"
                          id="validationCustom05"
                          name="country"
                          [(ngModel)]="country"
                        />
                        <div class="invalid-feedback">Please provide a valid zip.</div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-4 mb-3">
                        <label for="validationCustom05">Codigo postal</label>
                        <input
                          type="text"
                          class="form-control"
                          id="validationCustom05"
                          name="postal_code"
                          [(ngModel)]="postal_code"
                        />
                        <div class="invalid-feedback">Please provide a valid zip.</div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                </form>
        </div>
      </div>
    </div>

    <div class="container row direcciones mb-4">
      <div
        class="form-check col-md-2 mr-3 address-detail"
        *ngFor="let d of addresses; let i = index"
      >
        <input
          class="form-check-input"
          type="radio"
          name="exampleRadios"
          id="exampleRadios1"
          value="option1"
          (click)="capturarIdAddress(d.id)"
        />
        <label class="form-check-label" for="exampleRadios1">
          <!-- <span>{{ d.name_lastname }}</span> <br /> -->
          <span>Dirección: {{ d.address }}</span
          ><br />
          <span>Ciudad: {{ d.city }}</span
          ><br />
         <span>Provincia: {{ d.state }}</span
          ><br />
         <span>Pais: {{ d.country }}</span
          ><br />
          <span>Código postal: {{ d.postal_code }}</span
          ><br />
          
        </label>
      </div>
      <div class="col-lg-12 mt-3">
        <button
          class="btn btn-success"
          *ngIf="address_id"
          (click)="goToStep2()"
          onfocus="this.blur()"
        >
          Siguiente
        </button>
      </div>
    </div>
  </div>
  

  <div class="step2" [ngClass]="{ disabled: disabledStep2 }">
    <h2>PASO 2 : VERIFICACION DE PEDIDO Y DATOS DE ENVIO</h2>
    <div class="row info-pedido">
      <div class="col">
        <div class="card">
          <div class="card-header">Datos de Orden de compra</div>
          <div class="card-body">
            <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputNombres">Nombres</label>
                  <input type="text" class="form-control" id="inputNombres" name="customer_name" [(ngModel)]="customer_name" disabled>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputApellidos">Apellidos</label>
                  <input type="text" class="form-control" id="inputApellidos" name="customer_lastName" [(ngModel)]="customer_lastName" disabled>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputCedula">C.I/R.U.C</label>
                  <input type="text" class="form-control" id="inputCedula" name="customer_dni" [(ngModel)]="customer_dni" [disabled]="disabledInput">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputTelefono">Teléfono</label>
                  <input type="text" class="form-control" id="inputTelefono" name="customer_phone" [(ngModel)]="customer_phone" [disabled]="disabledInput">
                </div>
              </div>
              <div class="form-group">
                <label for="inputCorreo">Correo</label>
                <input type="email" class="form-control" id="inputCorreo" placeholder="example@email.com" name="customer_email" [(ngModel)]="customer_email" disabled>
              </div>
              <div class="form-group">
                <label for="inputAddress">Direccion</label>
                <div class="tabla">
                  <table class="table">
                    <tbody *ngIf="addressSelected; else showMessage">
                      <tr>
                       {{addressSelected.address}}
                      </tr>
                      
                      <tr>
                        {{addressSelected.city}} - {{addressSelected.state}} - {{addressSelected.country}}
                      </tr>
                      <tr>
                        {{addressSelected.postal_code}}
                      </tr>
                    </tbody>
                  </table>
                </div>
               
              </div>
            </form>
           
            <ng-template #showMessage>
              <h6>
                Los datos de direccion se mostrarán despues de seleccionar una
                dirección de envio.
              </h6>
            </ng-template>
          </div>
          <div class="card-footer text-muted text-left">
            <button
              class="btn btn-secondary"
              (click)="bactToStep1()"
              onfocus="this.blur()"
            >
              Seleccionar otra direccion
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">Resumen del pedido</div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Producto</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of cart; let indice = index">
                  <td>
                    {{ p.name }} {{ p.presentation }} x {{p.oferta}}
                  </td>
                  <!-- <td>x {{ p.oferta }}</td> -->
                  <td>{{ p.subtotal | currency }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer text-muted text-right pr-5">
           
            <h6>
              Subtotal: <b style="font-size: 15px">{{total | currency}}</b>
            </h6>
            <h6>
              Iva: <b style="font-size: 15px">$0.00</b>
            </h6>
            <h6>
              Envío<span>(Tarifa fija):</span> <b>{{tarifaFija}}</b>
            </h6>
            <h5>
              Total: <b style="font-size: 20px">{{ total +tarifaFija | currency }}</b>
            </h5>
            <hr />
            <button
              class="btn btn-primary mt-2"
              [routerLink]="['/my-cart']"
              onfocus="this.blur()"
            >
              Modificar pedido
            </button>
          </div>
        </div>
      </div>
      
    </div>
    <button
      class="btn btn-success mt-3"
      (click)="goToStep3()"
      onfocus="this.blur()"
    >
        Siguiente
    </button>
  </div>

  <div class="step3 mt-3" [ngClass]="{ disabled: disabledStep3 }">
    <h1>3 PASO --> Metodo de pago</h1>
    <!-- <p>A continuación, eleccione agregar una tarjetaa de credito o debito</p> -->

    <div class="container checkout-card">
      <div class="checkbox-alert mb-3">
        📌 A continuación debes de introducir los datos de tu tarjeta para procesar el pago! 
        El pago se procesara mediante la platforma de <b><a href="https://stripe.com/" target="_blank">stripe</a></b>
      </div>
      <form action="" class="datos" (submit)="initPay()">
        <!-- <div class="input input-amount">
          <label class="label">Monto a pagar</label>
          <input type="text" name="amount" placeholder="0.00">
          <span class="currency">USD</span>
        </div> -->
        <div class="text-center mb-3">
          <img src="../../../../assets/images/car.jpg" alt="" width="90" />
          <h4 style="line-height: 90%">DIMA</h4>
          <span>tienda de productos lácteos</span>
        </div>

        <!-- <div class="form-group">
          <label>Nombre de tarjeta</label>
          <div id="nombre"></div>
        </div> -->
        <div class="form-group">
          <label for="inputNombre">Nombre del titular</label>
          <input type="text" class="form-control titular" id="" placeholder="">
        </div>
        <div class="form-group">
          <label>Número de tarjeta</label>
          <div id="card"></div>
        </div>
        <hr />
        <div class="form-group">
          <label>CVC</label>
          <div id="cvc"></div>
        </div>
        <hr />
        <div class="form-group">
          <label>Fecha de vencimiento</label>
          <div id="exp"></div>
        </div>
        <div class="terms">
          <!-- <a href="">Links</a>
          <a href="">Links</a> -->
        </div>

        <button
          class="btn btn-success btn-block"
          type="submit"
          onfocus="this.blur()"
        >
          Pagar {{ total+tarifaFija | currency }}
        </button>
      </form>
      <button
        class="btn btn-secondary mt-3"
        type="submit"
        (click)="bactToStep2()"
        onfocus="this.blur()"
      >
        Regresar al paso 2
      </button>
      <!-- <button  class="btn btn-primary" type="submit">Siguiente</button> -->
    </div>
  </div>
</div>
