<div class="container-fluid">
    <div class="form-group">
      <h4>Cliente</h4>
      <span>Agregar cliente</span>
    </div>
  </div>
<!-- Agregar cliente -->
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title" id="exampleModalLabel">
            Agregar nuevo cliente
          </h5>
        </div>
        <form #addForm="ngForm" (ngSubmit)="addClient(addForm)">
          <div class="card-body">
            <div class="form-row">
              <div class="form-group col-md-6 mb-3">
                <label for="">Nombres</label>
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  placeholder=""
                  #refName="ngModel"
                  [(ngModel)]="client2.name"
                  [ngClass]="{
                    'is-invalid': refName.errors && refName.touched
                  }"
                  required
                />
                <div
                  [hidden]="!refName.errors?.required"
                  class="invalid-feedback"
                >
                  Nombre requerido
                </div>
              </div>
              <div class="form-group col-md-6 mb-3">
                <label for="">Apellidos</label>
                <input
                  type="text"
                  class="form-control"
                  name="lastName"
                  #refLastName="ngModel"
                  [(ngModel)]="client2.last_name"
                  [ngClass]="{
                    'is-invalid': refLastName.errors && refLastName.touched
                  }"
                  required
                />
                <div
                  [hidden]="!refLastName.errors?.required"
                  class="invalid-feedback"
                >
                  Apellidos requeridos
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6 mb-3">
                <label for="">Cédula</label>
                <input
                  type="text"
                  class="form-control"
                  name="dni"
                  placeholder=""
                  #refDni="ngModel"
                  [(ngModel)]="client2.dni"
                  [ngClass]="{ 'is-invalid': refDni.errors && refDni.touched }"
                  required
                />
                <div
                  [hidden]="!refDni.errors?.required"
                  class="invalid-feedback"
                >
                  Dni requerido
                </div>
              </div>
              <div class="form-group col-md-6 mb-3">
                <label for="">Teléfono</label>
                <input
                  type="text"
                  class="form-control"
                  name="phone"
                  #refPhone="ngModel"
                  [(ngModel)]="client2.phone"
                  [ngClass]="{
                    'is-invalid': refPhone.errors && refPhone.touched
                  }"
                  required
                />
                <div
                  [hidden]="!refPhone.errors?.required"
                  class="invalid-feedback"
                >
                  Teléfono requerido
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col mb-3">
                <label for="">E-mail</label>
                <input
                  type="text"
                  class="form-control"
                  name="email"
                  #refEmail="ngModel"
                  [(ngModel)]="client2.user.email"
                  [ngClass]="{
                    'is-invalid': refEmail.errors && refEmail.touched
                  }"
                  required
                  minlength="8"
                />
                <div
                  [hidden]="!refEmail.errors?.required"
                  class="invalid-feedback"
                >
                  E-mail requerido
                </div>
                <div
                  [hidden]="!refEmail.errors?.minlength"
                  class="invalid-feedback"
                >
                  Debe contener 8 caracteres
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col mb-3">
                <label>Direccion</label>
                <input
                  type="text"
                  class="form-control"
                  name="dirNueva"
                  placeholder=""
                  #nameAddress="ngModel"
                  [(ngModel)]="address.address"
                  [ngClass]="{
                    'is-invalid': nameAddress.errors && nameAddress.touched
                  }"
                  required
                />
                <div
                  [hidden]="!nameAddress.errors?.required"
                  class="invalid-feedback"
                >
                  Dirección requerida
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4 mb-3">
                <label for="">Ciudad</label>
                <input
                  type="text"
                  class="form-control"
                  name="cityNueva"
                  #nameCity="ngModel"
                  [(ngModel)]="address.city"
                  [ngClass]="{
                    'is-invalid': nameCity.errors && nameCity.touched
                  }"
                  required
                />
                <div
                  [hidden]="!nameCity.errors?.required"
                  class="invalid-feedback"
                >
                  Ciudad requerida
                </div>
              </div>
              <div class="form-group col-md-4 mb-3">
                <label for="">Provincia</label>
                <input
                  type="text"
                  class="form-control"
                  name="stateNuevo"
                  placeholder=""
                  #nameState="ngModel"
                  [(ngModel)]="address.state"
                  [ngClass]="{
                    'is-invalid': nameState.errors && nameState.touched
                  }"
                  required
                />
                <div
                  [hidden]="!nameState.errors?.required"
                  class="invalid-feedback"
                >
                  Provincia requerida
                </div>
              </div>
              <div class="form-group col-md-4 mb-3">
                <label>País</label>
                <input
                  type="text"
                  class="form-control"
                  name="countryNuevo"
                  #nameCountry="ngModel"
                  [(ngModel)]="address.country"
                  [ngClass]="{
                    'is-invalid': nameCountry.errors && nameCountry.touched
                  }"
                  required
                />
                <div
                  [hidden]="!nameCountry.errors?.required"
                  class="invalid-feedback"
                >
                  País requerido
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4 mb-3">
                <label for="">Codigo postal</label>
                <input
                  type="text"
                  class="form-control"
                  name="postal_codeNuevo"
                  #namePostalCode="ngModel"
                  [(ngModel)]="address.postal_code"
                  [ngClass]="{
                    'is-invalid':
                      namePostalCode.errors && namePostalCode.touched
                  }"
                  required
                  minlength="6"
                />
                <div
                  [hidden]="!namePostalCode.errors?.required"
                  class="invalid-feedback"
                >
                  Código postal requerido
                </div>
                <div
                  [hidden]="!namePostalCode.errors?.minlength"
                  class="invalid-feedback"
                >
                  Debe contener 6 caracteres
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6 mb-3">
                <label>Contraseña</label>
                <input
                  type="password"
                  class="form-control"
                  name="contrasena"
                  #refContrasena="ngModel"
                  [(ngModel)]="client2.user.password"
                  [ngClass]="{
                    'is-invalid': refContrasena.errors && refContrasena.touched
                  }"
                  required
                  minlength="8"
                />
                <div
                  [hidden]="!refContrasena.errors?.required"
                  class="invalid-feedback"
                >
                  Contraseña requerida
                </div>
                <div
                  [hidden]="!refContrasena.errors?.minlength"
                  class="invalid-feedback"
                >
                  Se require de al menos 8 caracteres
                </div>
              </div>
              <div class="form-group col-md-6 mb-3">
                <label for="">Repetir contraseña</label>
                <input
                  type="password"
                  class="form-control"
                  name="contrasena"
                  #refRepeatContrasena="ngModel"
                  [(ngModel)]="client2.user.password"
                  [ngClass]="{
                    'is-invalid':
                      refRepeatContrasena.errors && refRepeatContrasena.touched
                  }"
                  required
                />
                <div
                  [hidden]="!refRepeatContrasena.errors?.required"
                  class="invalid-feedback"
                >
                  Contraseña requerida
                </div>
                <div
                  [hidden]="!refContrasena.errors?.minlength"
                  class="invalid-feedback"
                >
                  Se require de al menos 8 caracteres
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <!-- <button
              type="button"
              class="btn btn-secondary"
            >
              Cancelar
            </button> -->
            <button type="submit" class="btn btn-primary btn-block">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
