<div class="container-fluid">
  <button class="btn btn-primary" routerLink="/cms/customers">
    <i class="fa fa-arrow-left" aria-hidden="true"></i> Clientes
  </button>
</div>
<!-- Agregar cliente -->
<div class="container mt-2">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title" id="exampleModalLabel">
            Agregar nuevo cliente
          </h5>
        </div>
        <form #addForm="ngForm" (ngSubmit)="addClient(addForm)">
          <div class="card-body">
            <div class="form-row">
              <div class="form-group col-md-6 mb-3">
                <label for="">Nombres</label>
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  placeholder=""
                  #refName="ngModel"
                  [(ngModel)]="client2.name"
                  [ngClass]="{
                    'is-invalid': refName.errors && refName.touched
                  }"
                  required
                />
                <div
                  [hidden]="!refName.errors?.required"
                  class="invalid-feedback"
                >
                  Nombre requerido
                </div>
              </div>
              <div class="form-group col-md-6 mb-3">
                <label for="">Apellidos</label>
                <input
                  type="text"
                  class="form-control"
                  name="lastName"
                  #refLastName="ngModel"
                  [(ngModel)]="client2.last_name"
                  [ngClass]="{
                    'is-invalid': refLastName.errors && refLastName.touched
                  }"
                  required
                />
                <div
                  [hidden]="!refLastName.errors?.required"
                  class="invalid-feedback"
                >
                  Apellidos requeridos
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6 mb-3">
                <label for="">Cédula/R.U.C</label>
                <input
                  type="text"
                  class="form-control"
                  name="dni"
                  placeholder=""
                  pattern="^((\\+91-?)|0)?[0-9]{10,13}$"
                  #refDni="ngModel"
                  [(ngModel)]="client2.dni"
                  [ngClass]="{ 'is-invalid': refDni.errors && refDni.touched }"
                  minlength="10"
                  maxlength="13"
                  required
                />
                <div
                  [hidden]="!refDni.errors?.required"
                  class="invalid-feedback"
                >
                  Cédula/R.U.C requerido
                </div>
                <div
                  [hidden]="!refDni.errors?.pattern"
                  class="invalid-feedback"
                >
                  Cédula/R.U.C inválido
                </div>
                <div
                  [hidden]="!refDni.errors?.minlength"
                  class="invalid-feedback"
                >
                  Se requiere de al menos 10 dígitos
                </div>
              </div>
              <div class="form-group col-md-6 mb-3">
                <label for="">Teléfono</label>
                <input
                  type="text"
                  class="form-control"
                  name="phone"
                  pattern="^((\\+91-?)|0)?[0-9]{10}$"
                  #refPhone="ngModel"
                  [(ngModel)]="client2.phone"
                  [ngClass]="{
                    'is-invalid': refPhone.errors && refPhone.touched
                  }"
                  minlength="10"
                  maxlength="10"
                  required
                />
                <div
                  [hidden]="!refPhone.errors?.required"
                  class="invalid-feedback"
                >
                  Teléfono requerido
                </div>
                <div
                [hidden]="!refPhone.errors?.pattern"
                class="invalid-feedback"
              >
                Número de teléfono inválido
              </div>
              <div
                [hidden]="!refPhone.errors?.minlength"
                class="invalid-feedback"
              >
                Se requiere de 10 dígitos
              </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col mb-3">
                <label for="">E-mail</label>
                <input
                  type="text"
                  class="form-control"
                  name="email"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                  #refEmail="ngModel"
                  [(ngModel)]="client2.user.email"
                  [ngClass]="{
                    'is-invalid': refEmail.errors && refEmail.touched
                  }"
                  required
                />
                <div
                  [hidden]="!refEmail.errors?.required"
                  class="invalid-feedback"
                >
                  E-mail requerido
                </div>
                <div
                [hidden]="!refEmail.errors?.pattern"
                class="invalid-feedback"
              >
                E-mail no válido
              </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-5 mb-3">
                <label>Contraseña</label>
                <input
                [type]="show ?'text':'password'"
                class="form-control"
                  name="contrasena"
                  #refContrasena="ngModel"
                  [(ngModel)]="client2.user.password"
                  [ngClass]="{
                    'is-invalid': refContrasena.errors && refContrasena.touched
                  }"
                  required
                  minlength="8"
                />
                <div
                  [hidden]="!refContrasena.errors?.required"
                  class="invalid-feedback"
                >
                  Contraseña requerida
                </div>
                <div
                  [hidden]="!refContrasena.errors?.minlength"
                  class="invalid-feedback"
                >
                  Se requiere de al menos 8 caracteres
                </div>
              </div>
              <div class="form-group col-md-2 text-center">
                <label for="" style="visibility:hidden;">ddd</label> <br>
                <button *ngIf="show==true" type="button" class="btn btn-secondary" (click)="mostrarContrasena()"><i class="fa fa-eye" aria-hidden="true"></i></button>
                <button *ngIf="show==false" type="button" class="btn btn-secondary" (click)="mostrarContrasena()"><i class="fa fa-eye-slash" aria-hidden="true"></i></button>

              </div>
              <div class="form-group col-md-5 mb-3">
                <label for="">Repetir contraseña</label>
                <input
                [type]="show ?'text':'password'"
                class="form-control"
                  name="contrasena"
                  #refRepeatContrasena="ngModel"
                  [(ngModel)]="client2.user.password"
                  [ngClass]="{
                    'is-invalid':
                      refRepeatContrasena.errors && refRepeatContrasena.touched
                  }"
                  required
                />
                <div
                  [hidden]="!refRepeatContrasena.errors?.required"
                  class="invalid-feedback"
                >
                  Contraseña requerida
                </div>
                <div
                  [hidden]="!refContrasena.errors?.minlength"
                  class="invalid-feedback"
                >
                  Se requiere de al menos 8 caracteres
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-block">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
