<div class="container-fluid">
  <div class="form-group">
    <h4>Productos</h4>
    <span>Editar producto</span>
  </div>
</div>
<!--  editar producto -->
<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title" id="exampleModalLabel">Editar producto</h5>
        </div>
        <form
          #editForm="ngForm"
          (ngSubmit)="editProduct(editForm)"
          class="form-editProduct"
        >
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="">Código</label>
              <input
                type="text"
                class="form-control"
                name="codigo"
                #refCodigo="ngModel"
                [(ngModel)]="product.cod_product"
                [ngClass]="{
                  'is-invalid': refCodigo.errors && refCodigo.touched
                }"
                required
                disabled
              />
              <div
                [hidden]="!refCodigo.errors?.required"
                class="invalid-feedback"
              >
                Codigo requerido
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="">Stock</label>
              <input
                type="text"
                class="form-control"
                name="stock"
                #refStock="ngModel"
                [(ngModel)]="product.stock"
                [ngClass]="{
                  'is-invalid': refStock.errors && refStock.touched
                }"
                required
                [disabled]="isDisabled"
              />
              <div
                [hidden]="!refStock.errors?.required"
                class="invalid-feedback"
              >
                Stock requerido
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="">Nombre</label>
              <input
                type="text"
                class="form-control"
                name="name"
                #refEditName="ngModel"
                [(ngModel)]="product.name"
                [ngClass]="{
                  'is-invalid': refEditName.errors && refEditName.touched
                }"
                required
                [disabled]="isDisabled"
              />
              <div
                [hidden]="!refEditName.errors?.required"
                class="invalid-feedback"
              >
                Nombre requerido
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="">Precio de compra</label>
              <input
                type="text"
                class="form-control"
                name="purchase_price"
                #refEditPurchasePrice="ngModel"
                [(ngModel)]="product.purchase_price"
                [ngClass]="{
                  'is-invalid':
                    refEditPurchasePrice.errors && refEditPurchasePrice.touched
                }"
                required
                [disabled]="isDisabled"
              />
              <div
                [hidden]="!refEditPurchasePrice.errors?.required"
                class="invalid-feedback"
              >
                Precio de compra requerido
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="">Descripcion</label>
              <textarea
                name="description"
                id=""
                rows="2"
                class="w-100"
                #refEditDescription="ngModel"
                [(ngModel)]="product.description"
                [ngClass]="{
                  'is-invalid':
                    refEditDescription.errors && refEditDescription.touched
                }"
                required
                [disabled]="isDisabled"
              >
              </textarea>
              <div
                [hidden]="!refEditDescription.errors?.required"
                class="invalid-feedback"
              >
                Descripción requerida
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="">Precio de venta</label>
              <input
                step="0.1"
                type="number"
                class="form-control"
                name="price"
                #refEditPrice="ngModel"
                [(ngModel)]="product.price"
                [ngClass]="{
                  'is-invalid': refEditPrice.errors && refEditPrice.touched
                }"
                required
                [disabled]="isDisabled"
              />
              <div
                [hidden]="!refEditPrice.errors?.required"
                class="invalid-feedback"
              >
                Precio de venta requerido
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="">color funda</label>
              <input
                type="text"
                class="form-control"
                name="sleeve_color"
                placeholder="( opcional )"
                #refEditFlavor="ngModel"
                [(ngModel)]="product.sleeve_color"
                [disabled]="isDisabled"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="">Imagen</label>
              <input
                type="file"
                class="form-control"
                (change)="onPhotoSelected($event)"
                name="image"
                required
                [disabled]="isDisabled"
              />
              <img *ngIf="product.image" [src]="product.image" alt="" width="60" />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="">Sabor</label>
              <input
                type="text"
                class="form-control"
                name="flavor"
                #refEditFlavor="ngModel"
                [(ngModel)]="product.flavor"
                [ngClass]="{
                  'is-invalid': refEditFlavor.errors && refEditFlavor.touched
                }"
                required
                [disabled]="isDisabled"
              />
              <div
                [hidden]="!refEditFlavor.errors?.required"
                class="invalid-feedback"
              >
                Sabor requerido
              </div>
            </div>
            <div class="form-group col-md-3">
              <label for="" style="display: block;">Categoria</label>
              <select
                name="cat_seleccionada"
                id="ss"
                [(ngModel)]="cat_seleccionada"
                class="select-cat"
                [disabled]="isDisabled"
              >
                <option
                  [value]="cat"
                  *ngFor="let cat of vectorCat"
                  (click)="capturarCategoria(cat)"
                >
                  {{ cat }}
                </option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="">SubCategoria</label>
              <select
                name="subcat_seleccionada"
                id="ss"
                [(ngModel)]="subcat_seleccionada"
                class="select-cat"
                [disabled]="isDisabled"
              >
                <option
                  [value]="subcat"
                  *ngFor="let subcat of vectorSubCat"
                  (click)="capturarSubCategoria(subcat)"
                >
                  {{ subcat }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="">Presentacion</label>
              <input
                type="text"
                class="form-control"
                name="presentation"
                #refEdPresent="ngModel"
                [(ngModel)]="product.presentation"
                [ngClass]="{
                  'is-invalid': refEdPresent.errors && refEdPresent.touched
                }"
                required
                [disabled]="isDisabled"
              />
              <div
                [hidden]="!refEdPresent.errors?.required"
                class="invalid-feedback"
              >
                Presentación requerida
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="">Marca</label>
              <div>
                <select
                  name="brand_seleccionada"
                  id=""
                  [(ngModel)]="brand_seleccionada"
                  [disabled]="isDisabled"
                >
                  <option
                    [value]="br"
                    *ngFor="let br of vectorBrand"
                    (click)="capturarBrand(br)"
                  >
                    {{ br }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="">Embalaje</label>
              <input
                type="text"
                class="form-control"
                name="packaging"
                #refEditEmbalaje="ngModel"
                [(ngModel)]="product.packaging"
                [ngClass]="{
                  'is-invalid':
                    refEditEmbalaje.errors && refEditEmbalaje.touched
                }"
                required
                [disabled]="isDisabled"
              />
              <div
                [hidden]="!refEditEmbalaje.errors?.required"
                class="invalid-feedback"
              >
                Tipo de embalaje requerido
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="">Proveedor</label>
              <div>
                <select
                  name="prov_seleccionado"
                  id=""
                  [(ngModel)]="prov_seleccionado"
                  [disabled]="isDisabled"
                >
                  <option
                    [value]="pr"
                    *ngFor="let pr of vectorProv"
                    (click)="capturarProvider(pr)"
                  >
                    {{ pr }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="container-fluid">
              <div class="form-row text-center">
                <div class="form-group col-md-6">
                  <button *ngIf="isDisabled==true" class="btn btn-primary" (click)="habilitar()">
                    Editar
                  </button>
                  <button *ngIf="isDisabled==false" type="submit" class="btn btn-primary">
                    Guardar cambios
                  </button> <br>
                  <span>Clic para editar este producto</span>
  
                </div>
                <div class="form-group col-md-6">
                  <button
                  type="button"
                  class="btn btn-secondary"
                  (click)="deleteProduct()"
                >
                  Eliminar
                </button> <br>
                <span>Clic para eliminar este producto</span>
  
              </div>
             
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
