<!-- <div class="mb-4 mx-auto text-center">
  <p>aqui va logo de dima</p>
</div> -->
<section id="login" class="mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header">
            <h4>Inicio de sesión</h4>
          </div>
          <div class="card-body">
            <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
              <div class="form-group">
                <label for="email"
                  >Email<span style="color: red"> *</span></label
                >
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  #nameEmail="ngModel"
                  [(ngModel)]="email"
                  required
                  [ngClass]="{
                    'is-invalid': nameEmail.errors && nameEmail.touched
                  }"
                  required
                />
                <div
                  [hidden]="!nameEmail.errors?.required"
                  class="invalid-feedback"
                >
                  Email requerido
                </div>
              </div>
              <div class="form-group">
                <label for="password"
                  >Contraseña<span style="color: red"> *</span></label
                >
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  #nameClave="ngModel"
                  [(ngModel)]="password"
                  [ngClass]="{
                    'is-invalid': nameClave.errors && nameClave.touched
                  }"
                  required
                  minlength="8"
                />
                <div
                  [hidden]="!nameClave.errors?.required"
                  class="invalid-feedback"
                >
                  Contraseña requerida
                </div>
                <div
                  [hidden]="!nameClave.errors?.minlength"
                  class="invalid-feedback"
                >
                  Se requiere al menos 8 caracteres
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">
                  Entrar <i class="fa fa-sign-in" aria-hidden="true"></i>
                </button>
              </div>
              <a routerLink="/recovery" style="font-size: 14px"
                >Olvidó su contraseña?</a
              >
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
