section{
    padding-bottom: 100px;
}
@media (max-width:414px){
    .input-email{
        /* width: 200px; */
    }
    .caja-clave{
        width: 81%;

    }
    .caja-boton{
        width: 19%;
        /* text-align: right; */
        /* position: relative; */
        /* float: right; */
    }
    .todo{
        /* width: 100%; */
    }
 }