<div class="container">
  <nav aria-label="breadcrumb" class="nav_barra">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page">Preguntas frecuentes</li>
    </ol>
  </nav>
</div>
<div class="container">
    <h4>Preguntas frecuentes</h4>
    <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                ¿Cómo compro?
              </button>
            </h2>
          </div>
      
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <p>
                • Agrega los productos que deseas adquirir en el carrito de compras, indicando las cantidades deseadas por cada producto. <br>
                • Revisa los productos que tienes en tu carrito de compras y luego haz clic en el botón “Ir a pagar” para iniciar el proceso de compra. <br>
                • En este paso debes indicar la dirección de envío. Aquí es en dónde podrás conocer cuál es el costo de la entrega. <br>
                • En datos de facturación, completa los datos de cédula y numero de teléfono en caso de no haberlos actualizado despues de realizar tu registro
                en la página web. <br>
                • Revisa por última vez tu pedido y modificalo si deseas. <br>
                • El siguiente paso es la selección de la forma de pago. Elige pagar con tarjeta de crédito, débito. Ingresa todos los datos indicados para el pago. Tus datos están seguros y no serán guardados en el sistema una vez realices el pago. <br>
                • Da clic en “Comprar ahora”. <br>
                • Puedes ingresar a MIS PEDIDOS e ir revisando el estado de tu compra, así como revisar si el proveedor logístico está en camino para entregarte tu pedido.</p> 
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                ¿Cómo elimino un producto de mi carrito de compras?
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              <p>
                Si agregaste un producto al carrito de compras y quieres eliminarlo, solo debes seguir estos pasos: <br>
                • Haz clic en el carrito de compras. Lo podrás encontrar en el costado superior derecho de la página. <br>
                • Te redireccionará al carrito. Al lado de cada producto agregado encontrarás el icono para eliminar el producto, en este caso es un icono de papelero. Haz clic en el papelero y se eliminará el producto.
              </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                ¿Cuál es el tiempo de entrega?
              </button>
            </h2>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              <p>
                DIMA por sus propios medios llevará tu pedido hasta la dirección de entrega que ingresaste. Dependiendo de la zona en que vives, tu pedido puede entregarse hasta en un máximo de 5 días hábiles.
              </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                ¿Qué hago si no estaba presente en el momento de la entrega?
              </button>
            </h2>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              <p>
                DIMA estará siempre en contacto contigo para coordinar la entrega.
              </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                ¿Cómo puedo saber si ya despacharon mi pedido?
              </button>
            </h2>
          </div>
          <div id="collapseSix" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              <p>
                Ingresa a MIS PEDIDOS desde nuestro sitio web de venta de productos. Para ingresar a mis pedidos debes iniciar sesión en el sitio web con tus credenciales. Revisa el estado de tu pedido.
                Si necesitas ayuda llámanos al 0989702475 ó 072184087 para poder asistirte.
              </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
                ¿Qué métodos de pago están disponibles? 
             </button>
            </h2>
          </div>
          <div id="collapseSeven" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              <p>
                La forma de pago disponible actualmente es tarjeta de crédito ó débito.
              </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseThree">
                ¿Mi producto debe llegar con factura?
            </button>
            </h2>
          </div>
          <div id="collapseEight" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              <p>
                Todos los productos que recibas en tu pedido deben venir con un recibo de venta asociada a la compra.
              </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseThree">
                Restricciones
            </button>
            </h2>
          </div>
          <div id="collapseNine" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              <p>
                • La página para compras por internet de DIMA no acepta devoluciones de productos, esto lo hace 
                sujetandose a las políticas establecidas en sus términos y condiciones de uso. <br>
                • La página web oficial de DIMA está solamente dirigida a clientes de la provincia de El Oro y específicamente de la ciudad de Machala, por lo que
                solo procesa pedidos para esta ciudad.
              </p>
            </div>
          </div>
        </div>
      </div>
</div>
<app-footer></app-footer>