<div class="container">
  <nav aria-label="breadcrumb" class="nav_barra">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page">Sugerencias y consejos</li>
    </ol>
  </nav>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-3 col-sm-3">
      <div
        class="nav flex-column nav-pills"
        id="v-pills-tab"
        role="tablist"
        aria-orientation="vertical"
      >
        <a
          class="nav-link active"
          id="v-pills-profile-tab"
          data-toggle="pill"
          href="#v-pills-profile"
          role="tab"
          aria-controls="v-pills-profile"
          aria-selected="true"
          >Condiciones de despacho</a
        >
        <a
          class="nav-link"
          id="v-pills-settings-tab"
          data-toggle="pill"
          href="#v-pills-settings"
          role="tab"
          aria-controls="v-pills-settings"
          aria-selected="false"
          >Método de pago</a
        >
      </div>
    </div>
    <div class="col-9 col-sm-9">
      <div class="tab-content" id="v-pills-tabContent">
        <div
          class="tab-pane fade show active"
          id="v-pills-profile"
          role="tabpanel"
          aria-labelledby="v-pills-profile-tab"
        >
          <div class="row">
            <div class="col">
              <h4><b>Costos de envio</b></h4>
              <p style="text-align: justify;">DIMA te ofrece servicio a domicilio para las compras realizadas por el sitio web www.dima.com.ec el cual tendrá un costo adicional al valor total de la compra y se facturará en conjunto con la compra.
                Los pedidos se enviarán en una tarija fija de aproximadamente $0.25 ctvs por cada unidad de producto.
                Tus entregas serán realizadas en días hábiles (Lunes a Viernes) de 8:00 - 20:00. *Costos de envio incluyen IVA.</p>
            </div>
            <div class="col">
              <h4><b>Entregas</b></h4>
              <p style="text-align: justify;">Previo a finaizar con el proceso de compra, el USUARIO visulizará el costo de envío a domicilio generado y el 
                plazo en que recibirá su compra, el cual oscila entre 5 días hábiles a partir de la confimación del pago. El pedido se entregará al CLIENTE cuyos datos personales y dirección se hayan registrado en el sistio web www.dima.com.ec al momento de finalizar la compra. Se considerará un envío exitoso una vez que el cliente reciba el pedido con su respectiva factura. 
                Si el usuario o persona que recibe el pedido no estuviese presente en el domicilio de destino, el proveedor logístico 
                o administrador de DIMA deberá contactar al ciente vía teléfonica con el fin de concertar una nueva entrega.</p>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="v-pills-settings"
          role="tabpanel"
          aria-labelledby="v-pills-settings-tab"
        >
          <p style="text-align: justify;">
            El método de pago implementado en este sitio web es a través de tarjeta de crédito ó debito Visa 
            o Mastercard. Para saber los elementos que conforman una tarjeta de crédito/débito, necesarios 
            para realizar el pago de una compra, a continuación se muestra una imagen de guía.</p>
          <img src="../../../../assets/images/tarjeta.png" alt="" width="95%">
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
