<div class="container-fluid">
  <button class="btn btn-primary" routerLink="/cms/brands">
    <i class="fa fa-arrow-left" aria-hidden="true"></i> Marcas
  </button>
</div>

<!-- Agregar marca -->
<div class="container mt-2">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title" id="exampleModalLabel">Agregar nueva marca</h5>
        </div>

        <form
          #addForm="ngForm"
          (ngSubmit)="createBrand(addForm)"
          class="form-addBrand"
        >
          <div class="card-body">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="">Name</label>
                <input
                  type="text"
                  class="form-control"
                  name="nombre"
                  #refName="ngModel"
                  [(ngModel)]="brand.name"
                  [ngClass]="{
                    'is-invalid': refName.errors && refName.touched
                  }"
                  required
                />
                <div
                  [hidden]="!refName.errors?.required"
                  class="invalid-feedback"
                >
                  Nombre requerido
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="">Descripción</label>
                <input
                  type="text"
                  class="form-control"
                  name="stock"
                  #refDesc="ngModel"
                  [(ngModel)]="brand.description"
                  [ngClass]="{
                    'is-invalid': refDesc.errors && refDesc.touched
                  }"
                  required
                />
                <div
                  [hidden]="!refDesc.errors?.required"
                  class="invalid-feedback"
                >
                  Descripción requerida
                </div>
              </div>
            </div>
          </div>

          <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-block">
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
