<div class="container">
    <nav aria-label="breadcrumb" class="nav_barra">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Contacto</li>
      </ol>
    </nav>
</div>
<div class="container mt-3">
    <div class="row">

        <div class="col-md-7 mx-auto">
            <h4 class="text-center">Información de contacto</h4>

            <p>Puedes comunicarte con nosotros a través de vía telefónica con los números que aparecen a continuación:</p><br>
            <p><b>Número de celular:</b></p> 
            <p><a target="_blank" href="https://wa.link/2ya5hx">0989702475</a></p>
            <p><b>Número de teléfono convencional:</b></p> 
            <p>072184087</p> <br>
            <p>Adicionalmente, también puedes escribirnos a nuestra dirección de email oficial.</p>
            <p><a href="mailto:mariamorocho1965@gmail.com">lacteosdima@gmail.com</a></p>
        </div>
    </div>
   
</div>
<app-footer></app-footer>