.page-product{
   padding-bottom: 50px;
}
.content-select{
    position: relative;
    margin-bottom: 10px;

}
.content-select select{
    outline: 0; 
    border: 1px solid rgb(207, 205, 205);
  border-radius: 0;
  height: 32px;
}
.info-carrito{
    padding: 15px 15px;
}
.price{
    color:#159983;
    /* margin-left: 10px; */
}
.stock{
    color:green;
}
.select{
    width: 50%;
}
.gallery{
    overflow: hidden;
    width: 100%;
}
h2,h1{
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 2em;
}
h2{font-size: 1.5em;}
.btn-success{
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.contenedor{
    width: 1349px;
    /* height: 90px !important; */
}

.nav_barra ol{
    background-color: transparent;
}
.image{
    width: 400px;
}
.lista{
    list-style: none;
    margin: 0;
    padding: 0;
}
.lista li{
    display: inline;
    /* font-size: 50px; */
    padding-right: 10px;
    /* color: rgb(63, 63, 236); */
}

@media (max-width:414px) {
    .image{
        width: 300px;
    }
    .gallery{
        text-align: center;
    }
    .info-carrito{
       
        width: 100% !important;
    }
   
}
