<!-- <div *ngIf="user">
  <h1>My profile</h1>
  <p>Email: {{ user.email }}</p>
  <p>Role: {{ user.role }}</p>
  <a *ngIf="user.role=='admin'" routerLink="/cms">Ir al CMS</a>
</div> -->
<div class="container">
  <nav aria-label="breadcrumb" class="nav_barra">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Inicio</a></li>
      <li class="breadcrumb-item"><a routerLink="/account">Mi cuenta</a></li>
      <li class="breadcrumb-item active" aria-current="page">Perfil</li>
    </ol>
  </nav>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
      <h4 class="title-perfil">Inicio de sesión y seguridad</h4>
      <div class="container perfil">
        <div class="form-row nombreCompleto">
          <div class="form-group col-md-8">
            <span><b>Nombre:</b></span> <br>
            <span>{{name}} {{last_name}}</span>

          </div>
          <div class="form-group col-md-4 text-center">
            <button class="btn btn-secondary my-auto" 
            data-toggle="modal" data-target="#editarNombreCompleto"
            >Editar</button>
          </div>
        </div>
        <hr>
        <div class="form-row">
          <div class="form-group col-md-8">
            <span><b>Cédula:</b></span> <br>
            <span>{{dni}}</span>

          </div>
          <div class="form-group col-md-4 text-center">
            <button class="btn btn-secondary my-auto" data-toggle="modal" data-target="#editarDni"
            >
              {{existeDni==true ? 'Editar':'Agregar'}}
            </button>
          </div>
        </div>
        <hr>
        <div class="form-row">
          <div class="form-group col-md-8">
            <span><b>Teléfono:</b></span> <br>
            <span>{{phone}}</span>

          </div>
          <div class="form-group col-md-4 text-center">
            <button class="btn btn-secondary my-auto"  data-toggle="modal" data-target="#editarPhone">
              {{existePhone==true ? 'Editar':'Agregar'}}
            </button>
          </div>
        </div>
        <hr>
        <div class="form-row">
          <div class="form-group col-md-8">
            <span><b>E-mail:</b></span> <br>
            <span>{{email}}</span>

          </div>
          <div class="form-group col-md-4 text-center">
            <button class="btn btn-secondary my-auto" data-toggle="modal" data-target="#editarEmail"
            >Editar</button>
          </div>
        </div>
        <hr>
        <div class="form-row">
          <div class="form-group col-md-8">
            <span><b>Contraseña:</b></span> <br>
            <input type="password" name="" id="" [(ngModel)]="password" style="border: 0;" onfocus="this.blur()">
          </div>
          <div class="form-group col-md-4 text-center">
            <button class="btn btn-secondary my-auto" data-toggle="modal" data-target="#editarPassword"
            >Editar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>
<app-footer></app-footer>

<!-- Modal para editar nombre completo -->
<div class="modal fade" id="editarNombreCompleto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar nombre completo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #botonCerrarNC>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>        
            <form #editNombreApellido="ngForm" (ngSubmit)="editarNombreCompleto(editNombreApellido)">
              <div class="modal-body">
                <div class="form-row">
                  <div class="form-group col mb-3">
                    <label for="">Nombres</label>
                    <input
                      type="text"
                      class="form-control"
                      name="name"
                      placeholder=""
                      #refNombre="ngModel"
                      [(ngModel)]="name"
                      [ngClass]="{'is-invalid':refNombre.errors && refNombre.touched}"
                      required 
                      />
                       <div [hidden]="!refNombre.errors?.required" class="invalid-feedback">
                      Nombre requerido</div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col mb-3">
                    <label for="">Apellidos</label>
                    <input
                      type="text"
                      class="form-control"
                      name="last_name"
                      #refApellido="ngModel"
                      [(ngModel)]="last_name"
                      [ngClass]="{'is-invalid':refApellido.errors && refApellido.touched}"
                      required 
                      />
                       <div [hidden]="!refApellido.errors?.required" class="invalid-feedback">
                      Apellido requerido</div>
                  </div>
                </div>
               </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" >Guardar cambios</button>
              </div>
            </form>
    </div>
  </div>
</div>
<!-- Modal para editar dni -->
<div class="modal fade" id="editarDni" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar cédula</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #botonCerrarDni>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>        
            <form #editDni="ngForm" (ngSubmit)="editarDni(editDni)">
              <div class="modal-body">
                <div class="form-row">
                  <div class="form-group col mb-3">
                    <label for="">Cédula</label>
                    <input
                      type="text"
                      class="form-control"
                      name="dni"
                      placeholder=""
                      #refDni="ngModel"
                      [(ngModel)]="dni"
                      [ngClass]="{'is-invalid':refDni.errors && refDni.touched}"
                      required 
                      />
                       <div [hidden]="!refDni.errors?.required" class="invalid-feedback">
                      Cédula requerida</div>
                  </div>
                </div>
               
               </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" >Guardar cambios</button>
              </div>
            </form>
    </div>
  </div>
</div>
<!-- Modal para editar telefono -->
<div class="modal fade" id="editarPhone" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar teléfono</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #botonCerrarPhone>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>        
            <form #editTelefono="ngForm" (ngSubmit)="editarPhone(editTelefono)">
              <div class="modal-body">
                <div class="form-row">
                  <div class="form-group col mb-3">
                    <label for="">Teléfono</label>
                    <input
                      type="text"
                      class="form-control"
                      name="phone"
                      placeholder=""
                      #refTelefono="ngModel"
                      [(ngModel)]="phone"
                      [ngClass]="{'is-invalid':refTelefono.errors && refTelefono.touched}"
                      required 
                      />
                       <div [hidden]="!refTelefono.errors?.required" class="invalid-feedback">
                      Teléfono requerido</div>
                  </div>
                </div>
               
               </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" >Guardar cambios</button>
              </div>
            </form>
    </div>
  </div>
</div>
<!-- Modal para editar email -->
<div class="modal fade" id="editarEmail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar email</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #botonCerrarEmail>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>        
            <form #emailForm="ngForm" (ngSubmit)="editarEmail(emailForm)">
              <div class="modal-body">
                <div class="form-row">
                  <div class="form-group col mb-3">
                    <label for="">Email</label>
                    <input
                      type="text"
                      class="form-control"
                      name="email"
                      placeholder=""
                      #refEmail="ngModel"
                      [(ngModel)]="email"
                      [ngClass]="{'is-invalid':refEmail.errors && refEmail.touched}"
                      required 
                      />
                       <div [hidden]="!refEmail.errors?.required" class="invalid-feedback">
                      Email requerido</div>
                  </div>
                </div>
               </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" >Guardar cambios</button>
              </div>
            </form>
    </div>
  </div>
</div>
<!-- Modal para editar password -->
<div class="modal fade" id="editarPassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar contraseña</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #botonCerrarContrasena>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>        
            <form #contrasenaForm="ngForm" (ngSubmit)="editarContrasena(contrasenaForm)">
              <div class="modal-body">
                <div class="form-row">
                  <div class="form-group col mb-3">
                    <label for="">Contraseña actual</label>
                    <input
                      type="password"
                      class="form-control"
                      name="password"
                      placeholder=""
                      #refContrasena="ngModel"
                      [(ngModel)]="password"
                      disabled
                      required 
                      />
                      
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6 mb-3">
                    <label for="">Nueva contraseña</label>
                    <input
                      type="password"
                      class="form-control"
                      name="password_aux"
                      placeholder=""
                      #refPasswordAux="ngModel"
                      [(ngModel)]="password_aux"
                      [ngClass]="{'is-invalid':refPasswordAux.errors && refPasswordAux.touched}"
                      required 
                      />
                       <div [hidden]="!refPasswordAux.errors?.required" class="invalid-feedback">
                      Nueva contraseña requerida</div>
                  </div>
                  <div class="form-group col-md-6 mb-3">
                    <label for="">Repetir contraseña</label>
                    <input
                      type="password"
                      class="form-control"
                      name="password_aux"
                      placeholder=""
                      #refPasswordAux2="ngModel"
                      [(ngModel)]="password_aux"
                      [ngClass]="{'is-invalid':refPasswordAux2.errors && refPasswordAux2.touched}"
                      required 
                      />
                       <div [hidden]="!refPasswordAux2.errors?.required" class="invalid-feedback">
                      Nueva contraseña requerida</div>
                  </div>
                </div>
               
               </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" >Guardar cambios</button>
              </div>
            </form>
    </div>
  </div>
</div>
