<div class="container-fluid">
    <div class="form-group">
      <h1><span style="float: left"><i class="fa fa-users" aria-hidden="true"></i></span></h1>
      <div class="form-group">
        <h4 style="margin-left:65px;">Sugerencias</h4>
        <span class="ml-3 text-muted">Nuestras Sugerencias</span>
      </div>
    </div>
</div>
<div class="container mt-2">
    <div class="card">
        <div class="card-header text-center">
            <h4><b>Sugerencias y Consejos</b></h4>
        </div>
        <div class="card-body">
            <div class="card-title"><h4>Condiciones de despacho</h4>
            </div>
            <div class="row">
                <div class="col">
                    <h5>Costos de envío</h5>
                    <textarea class="txt1"  [(ngModel)]="sugDespacho.costos_envio">{{sugDespacho.costos_envio}}</textarea>

                </div>
                <div class="col">
                    <h5>Entregas</h5>
                    <textarea class="txt2"  [(ngModel)]="sugDespacho.entregas">{{sugDespacho.entregas}}</textarea>

                </div>
            </div>
            <div class="row mt-3 mb-2">
                <div class="col-md-12">
                    <h4>Método de pago</h4>
                    <textarea name="" id="" [(ngModel)]="sugDespacho.metodo_pago" class="txt3">
                        {{sugDespacho.metodo_pago}}
                    </textarea>
                </div>
            </div>
            <button class="btn btn-success btn-block" (click)="editarInfo()">Editar</button>

        </div>
    </div>
</div>