<div class="container-fluid">
  <div class="form-group">
    <h1><span style="float: left"><i class="fa fa-users" aria-hidden="true"></i></span></h1>
    <div class="form-group">
      <h4 style="margin-left:65px;">Clientes</h4>
      <span class="ml-3 text-muted">Lista de clientes activos</span>
    </div>
  </div>
</div>
<div class="container mt-3">
  <div class="form-inline mb-3">
    <div class="form-group w-50 grupo1">
      <span class="icon"><i class="fa fa-search"></i></span>
      <input
        type="search"
        name="buscar"
        id="search"
        placeholder="Buscar cliente por nombre..."
        #txtSearch
        (keyup)="onSearch(txtSearch.value)"
      />
    </div>
    <div class="form-group w-50">
      <button
        class="btn btn-primary ml-auto"
       routerLink="/cms/customers/add"
      ><i class="fa fa-plus" aria-hidden="true"></i> 
        Nuevo cliente
      </button>
      <button class="btn btn-success ml-3" (click)="imprimir()"><i class="fa fa-print"></i> Imprimir</button>

    </div>
  </div>
  <table
    class="table table-bordered"
  >
    <thead class="">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cédula/R.U.C</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">E-mail</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of customers | filtro:page:search"
      [ngStyle]="{height:'60px'}">
        <td>{{ c.id }}</td>
        <td>{{ c.dni }}</td>
        <td>{{ c.name }}</td>
        <td>{{ c.last_name }}</td>
        <td>{{ c.email }}</td>
        <td>{{ c.phone }}</td>
        <td class="text-center">
          <button class="btn btn-info" [routerLink]="['/cms/customers',c.user_id]">Detalles</button>
        </td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example" class="text-right">
    <ul class="pagination">
      <li class="page-item">
        <span aria-label="Previous" class="btn border" (click)="prevPage()">
          <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i> </span>
        </span>
      </li>
      <li class="page-item active" aria-current="page">
        <a class="page-link">{{numPagina}}</a>
      </li>
      <li class="page-item">
        <button aria-label="Next" class="btn border"
        (click)="nextPage()"
        [disabled]="(customers | filtro: page:search).length === 0">
          <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
          </span>
      </button>
      </li>
    </ul>
  </nav>
  <ng-template #elseBlock>
    <div class="div">
      <h3>No hay clientes registrados</h3>

      <p></p>
    </div>
  </ng-template>
</div>
