.container-fluid{
    border-bottom: 1px solid rgb(190, 190, 190);
    height: 70px;
    background-color: white;
    margin: 0 !important;
}
.container-fluid .form-group h1,h4{
    color: rgb(23, 108, 235);
}

.container{
    /* background-color: bisque; */
}
.grupo1{
    border:1px solid #111;
}
.grupo1 input{
    border: 0;
    width: 90%;
}
.grupo1 input :focus{
    border: 0;
    border-color: white;
}
.grupo1 i{
    border: 0;
    width: 10%;
}