<div class="container">
  <nav aria-label="breadcrumb" class="nav_barra">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page">Términos y condiciones</li>
    </ol>
  </nav>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <h5>Términos y Condiciones</h5>
      <p>
        La presente web de comercio electrónico https://www.dima.com.ec le
        ofrece servicios de ventas y se sujeta a los siguientes términos y
        condiciones:
      </p>
      <p><b>1.- Ley aplicable</b></p>
      <p>Las relaciones contractuales surgidas a través de esta páhina web se regirán conforme a la Ley
        del Comercio Electrónico del Ecuador.
        Las partes se someten, a su elección, para la resolución de los conflictos que tengan que ver con esta Ley.
      </p>
      <p><b>2.- Descripción de productos</b></p>
      <p>Las características de los productos que ofrecemos aparecen reflejadas en las correspondientes páginas de
        esta web. Las características de los productos pueden verse sujetas a cambios dependiendo del fabricante. El plazo
         de entrega es de 5 días hábiles pudiendo variar el mismo por causas no imputables a nuestra empresa. El contrato tiene
         por objeto la venta de productos lácteos.
      </p>
      <p><b>3.- Precio</b></p>
      <p>El precio de los productos que aparece en nuestra tienda virtual es el precio recomendado para venta online.
        El precio incluye I.V.A. Los precios sólo son válidos hasta fin de existencias.
      </p>
      <p><b>4.- Lugar y fecha de entrega</b></p>
      <p>La entrega de los encargos la realiza DIMA por sus propios medios. El pedido es entregado en el domicilio
        designado por el comprador, por lo que DIMA no asume ninguna responsabilidad cuando la entrega no pueda efectuarse a causa de la ausencia del destinatario. Existe la posibilidad de que sea el propio comprador quien recoja en nuestro establecimiento.
      </p>
      <p><b>5.- Sistema de pago</b></p>
      <p>El pago de los productos adquiridos a través de nuestra web se realiza mediante tarjeta de crédito/débito.
        La transmisión de los datos recabados a través de nuestra página web se realiza a través de un servidor seguro
        cumpliendo en todo momento la Legislación de Protección de Datos. Sin embargo, estos datos no serán almacenados
        en nuestro sitio web.
      </p>
      <p><b>6.- Gastos de envío</b></p>
      <p>Los gastos de envío se calculan en base al número de productos adquiridos.
      </p>

    </div>
  </div>
</div>
<app-footer></app-footer>
