<div class="container-fluid">
  <div class="form-group">
    <h4>Proveedores</h4>
    <span>Lista de proveedores</span>
  </div>
</div>
<div class="container">
    <div class="form-group">
        <button
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#addProvider"
        >
          Nuevo proveedor
        </button>
      </div>
      <div class="form-group">
        <input
          type="search"
          name=""
          id=""
          placeholder="Buscar proveedor por nombre.."
          [(ngModel)]="filterProvider"
        />
      </div>
    <table
      class="table table-bordered"
    >
      <thead class="">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">R.U.C</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let pr of providers | filter: filterProvider; let i = index"
        >
          <td>{{ i + 1 }}</td>
          <td>{{ pr.name }}</td>
          <td>{{ pr.ruc }}</td>
          <td>
            <button
              class="btn btn-secondary"
              (click)="edit(pr.id)"
              data-toggle="modal"
              data-target="#editProvider"
            >
              Editar
            </button>
            <button
              class="btn btn-danger float-right"
              (click)="deleteProvider(pr.id)"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #elseBlock>
      <div class="div">
        <h3>No hay proveeddors registradas</h3>

        <p></p>
      </div>
    </ng-template>
</div>

<!-- Modal Agregar proveedor -->
<div
  class="modal fade"
  id="addProvider"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Agregar nueva proveedor
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          #botonCerrarAdd
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form
        #addForm="ngForm"
        (ngSubmit)="createProvider(addForm)"
        class="form-addProvider"
      >
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="">Nombre</label>
            <input
              type="text"
              class="form-control"
              name="nombre"
              #refName="ngModel"
              [(ngModel)]="provider.name"
              [ngClass]="{
                'is-invalid': refName.errors && refName.touched
              }"
              required
            />
            <div [hidden]="!refName.errors?.required" class="invalid-feedback">
              Nombre requerido
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="">R.U.C</label>
            <input
              type="text"
              class="form-control"
              name="ruc"
              #refDesc="ngModel"
              [(ngModel)]="provider.ruc"
              [ngClass]="{
                'is-invalid': refDesc.errors && refDesc.touched
              }"
              required
            />
            <div [hidden]="!refDesc.errors?.required" class="invalid-feedback">
              R.U.C requerido
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="">Dirección</label>
            <input
              type="text"
              class="form-control"
              name="address"
              #refAddress="ngModel"
              [(ngModel)]="provider.address"
              [ngClass]="{
                'is-invalid': refAddress.errors && refAddress.touched
              }"
              required
            />
            <div [hidden]="!refAddress.errors?.required" class="invalid-feedback">
             Dirección requerida
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="">Teléfono</label>
            <input
              type="text"
              class="form-control"
              name="phone"
              #refPhone="ngModel"
              [(ngModel)]="provider.phone"
              [ngClass]="{
                'is-invalid': refPhone.errors && refPhone.touched
              }"
              required
            />
            <div [hidden]="!refPhone.errors?.required" class="invalid-feedback">
             Teléfono requerido
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cancelar
          </button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Editar proveedor -->
<div
  class="modal fade"
  id="editProvider"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar proveedor</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          #botonCerrarEdit
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form
        #editForm="ngForm"
        (ngSubmit)="editarProvider(editForm)"
        class="form-addProvider"
      >
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="">Name</label>
            <input
              type="text"
              class="form-control"
              name="editName"
              #refEditName="ngModel"
              [(ngModel)]="editProvider.name"
              [ngClass]="{
                'is-invalid': refEditName.errors && refEditName.touched
              }"
              required
            />
            <div
              [hidden]="!refEditName.errors?.required"
              class="invalid-feedback"
            >
              Nombre requerido
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="">R.U.C</label>
            <input
              type="text"
              class="form-control"
              name="editRuc"
              #refEditDesc="ngModel"
              [(ngModel)]="editProvider.ruc"
              [ngClass]="{
                'is-invalid': refEditDesc.errors && refEditDesc.touched
              }"
              required
            />
            <div
              [hidden]="!refEditDesc.errors?.required"
              class="invalid-feedback"
            >
              R.U.C requerido
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="">Dirección</label>
            <input
              type="text"
              class="form-control"
              name="editAdress"
              #refEditAddr="ngModel"
              [(ngModel)]="editProvider.address"
              [ngClass]="{
                'is-invalid': refEditAddr.errors && refEditAddr.touched
              }"
              required
            />
            <div
              [hidden]="!refEditAddr.errors?.required"
              class="invalid-feedback"
            >
              Dirección requerida
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="">Teléfono</label>
            <input
              type="text"
              class="form-control"
              name="editPhone"
              #refEditPhone="ngModel"
              [(ngModel)]="editProvider.phone"
              [ngClass]="{
                'is-invalid': refEditPhone.errors && refEditPhone.touched
              }"
              required
            />
            <div
              [hidden]="!refEditPhone.errors?.required"
              class="invalid-feedback"
            >
             Teléfono requerido
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cancelar
          </button>
          <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </div>
      </form>
    </div>
  </div>
</div>
