<div class="container-fluid">
  <div class="form-group">
    <h1>
      <span style="float: left"
        ><i class="fa fa-usd" aria-hidden="true"></i
      ></span>
    </h1>
    <div class="form-group">
      <h4 style="margin-left: 47px">Ventas</h4>
      <span class="ml-4 text-muted">Listado de ventas realizadas</span>
    </div>
  </div>
</div>
<div class="container ml-4 mt-3">
  <div class="row mb-3">
    <div class="col-md-8 columna">
      <div class="form-group grupo1">
        <span class="icon"
          ><i class="fa fa-search" aria-hidden="true"></i
        ></span>
        <input
          type="search"
          name=""
          id=""
          placeholder="Buscar venta por nombre de cliente..."
          #txtSearch
          (keyup)="onSearch(txtSearch.value)"
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6" style="margin: 0; padding: 0">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="">Desde:</label>
          <input
            type="date"
            name="fechaInicial"
            id=""
            value="Elegir fecha"
            class="form-control"
            (change)="onSelect($event)"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="">Hasta:</label>
          <input
            type="date"
            name="fechaFinal"
            id=""
            class="form-control"
            value="Elegir fecha"
            (change)="onSelect2($event)"
          />
        </div>
      </div>
    </div>
    <div class="col-md-2" style="margin: 0; padding: 0">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="" style="visibility: hidden">gg</label> <br />
          <button class="btn btn-success float-right" (click)="imprimir()">
            <i class="fa fa-print" aria-hidden="true"></i> Generar reporte
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>

  <div class="row">
    <div class="col-md-7">
      <!-- <cdk-virtual-scroll-viewport -->
        <!-- itemSize="10"
        class="scroll"
        style="width: 100%" -->
      <!-- > -->
        <table
          id="tabla-ventas"
          class="table table-bordered"
         
        >
          <thead class="tabla-ventas-head">
            <tr>
              <th scope="col">#</th>
              <th scope="col">N° Factura</th>
              <th scope="col">Cliente</th>
              <th scope="col">Total pagado</th>
              <th scope="col">Fecha</th>
            </tr>
          </thead>
          <tbody class="tabla-ventas-body">
            <tr
              *ngFor="
                let order of orders
                  | filtroFecha: fechaInicial:fechaFinal:search;
                let i = index
              "
              style="height: 70px"
            >
              <td>{{ i + 1 }}</td>
              <td>{{ order.num_factura }}</td>
              <td>{{ order.name }}</td>
              <td>{{ order.total | currency }}</td>
              <td>{{ order.created_at | customDate }}</td>
            </tr>
          </tbody>
        </table>
      <!-- </cdk-virtual-scroll-viewport> -->
    </div>
    <div class="col-md-1">
      <!-- <cdk-virtual-scroll-viewport -->
        <!-- itemSize="10"
        class="scroll"
        style="width: 100%" -->
      <!-- > -->
        <table id="dd" class="table table-bordered tabla-factura">
          <thead class="tabla-factura-head">
            <tr>
              <th>Factura</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let order of orders
                  | filtroFecha: fechaInicial:fechaFinal:search;
                let i = index;
                let ultimo = last
              "
              style="height: 70px"
            >
              <td class="text-center">
                <button
                  class="btn btn-info text-center"
                  [routerLink]="['/cms/factura/order', order.id]"
                >
                  Ver
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      <!-- </cdk-virtual-scroll-viewport> -->
    </div>
    <div class="col-md-4">
      <table id="tabla-resultados" class="ml-5">
        <tbody>
          <tr
            *ngFor="
              let order of orders
                | filtroFecha: fechaInicial:fechaFinal:search
              let i = index;
              let ultimo = last
            "
          >
            <!-- <td *ngIf="ultimo">
                <div class="card card-num">
                  <div class="card-body">
                    N° ventas: <br />
                    {{ order.numVentas }}
                  </div>
                </div>
              </td> -->
            <!-- <td *ngIf="ultimo"></td> -->
            <td *ngIf="ultimo">
              <div class="card card-total">
                <div class="card-body text-center">
                  <h5 style="color: white">Total ventas:</h5>
                  <h4 style="color: white">
                    <b> {{ order.totalVentas | currency: "$" }}</b>
                  </h4>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- <nav aria-label="Page navigation example" class="text-right" *ngIf="mostrar==true && mostrar2==true">
    <ul class="pagination">
      <li class="page-item">
        <span aria-label="Previous" class="btn border" (click)="prevPage()">
          <span aria-hidden="true"
            ><i class="fa fa-angle-double-left" aria-hidden="true"></i>
          </span>
        </span>
      </li>
      <li class="page-item active" aria-current="page">
        <a class="page-link">{{ numPagina }}</a>
      </li>
      <li class="page-item">
        <button
          aria-label="Next"
          class="btn border"
          (click)="nextPage()"
          [disabled]="(orders | filtro:page:search).length === 0"
        >
          <span aria-hidden="true"
            ><i class="fa fa-angle-double-right" aria-hidden="true"></i>
          </span>
        </button>
      </li>
    </ul>
  </nav> -->
</div>
<ng-template #elseBlock>
  <div class="div">
    <h3>No hay ventas</h3>

    <p></p>
  </div>
</ng-template>
