<div class="container">
  <div class="row mt-3">
    <div class="col-md-6 mb-3">
       <div class="card">
        <div class="card-body">
            <h3>Pedidos en espera</h3>
        </div>
       </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card">
            <div class="card-body">
                <h3>Pedidos en camino</h3>
            </div>
           </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3>Pedidos entregados</h3>
            </div>
           </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card">
            <div class="card-body">
                <h3>Clientes</h3>
            </div>
           </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card">
            <div class="card-body">
                <h3>Productos {{totalProductos}} </h3>
            </div>
           </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card">
            <div class="card-body">
                <h3>Categorías</h3>
            </div>
           </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card">
            <div class="card-body">
                <h3>Marcas</h3>
            </div>
           </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card">
            <div class="card-body">
                <h3>Número de ventas</h3>
            </div>
           </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card">
            <div class="card-body">
                <h3>$ Total de ventas</h3>
            </div>
           </div>
    </div>
  </div>
</div>
