<div class="container mt-3">
    <div class="row">
        <div class="col-12 text-center">
            <select name="" id=""  (change)="onSelect($event)">
                <option *ngFor="let v of vector" [value]="v">
                    {{v}}
                </option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
     <div class="mt-3 ml-3 r-3">
        <h4>Sub-categorias</h4>
        <div class="form-group">
            <div class="form-check" *ngFor="let sub of subcategories">
                <input class="form-check-input" type="radio" name="exampleRadios" 
                id="exampleRadios1" value="option1" (click)="obtener(sub.id)">
                <label class="form-check-label" for="exampleRadios1">
                 {{sub.name}}
                </label>
            </div>
              
        </div>
     </div>
    </div>
    <div class="col">
        <app-products 
[productId]="productId"
[products]="pro" 
(loadMore)="onLoadMore()"

>
</app-products>
    </div>
</div>
