<div class="container">
    <h3>Tu Cuenta</h3>
    <div class="row">
        <div class="col-md-4 col-sm-12 datos text-center">
            <a class="link-mis-datos " routerLink="/profile">
                <div class="mis-datos ml-2 mr-2 pt-3">
                    <h5>Inicio de sesión y seguridad</h5>
                    <p class="text-muted">Edita todos tus datos personales</p>
                    <img src="../../../../assets/images/datos_personales.png" alt="">
                </div>
            </a>
            
        </div>
        <div class="col-md-4 col-sm-12 direcciones text-center">
            <a class="link-mis-direcciones" routerLink="/my-addresses">
                <div class="mis-direcciones ml-2 mr-2 pt-3 pb-3">
                    <h5>Tus direcciones</h5>  
                    <p class="text-muted">Agrega, edita o elimina tus direcciones de envío</p>  
                    <img src="../../../../assets/images/direcciones.png" alt="">
                </div>
            </a>
           
        </div>
        <div class="col-md-4 col-sm-12 ordenes text-center">
            <a class="link-mis-pedidos" routerLink="/orders">
                <div class="mis-pedidos ml-2 mr-2 pt-3 pb-3">
                    <h5>Tus compras</h5>
                    <p class="text-muted">Verifica el historial de tus órdenes de compra</p>
                    <img src="../../../../assets/images/ordenes.png" alt="">
                </div>
            </a>
          
        </div>
    </div>
</div>