<div class="container">
    <h3>Tu Cuenta</h3>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <a class="link-mis-datos" routerLink="/profile">
                <div class="mis-datos ml-2 mr-2">
                    <h5>Inicio de sesión y seguridad</h5>
                </div>
            </a>
            
        </div>
        <div class="col-md-4 col-sm-12 ">
            <a class="link-mis-direcciones" routerLink="/my-addresses">
                <div class="mis-direcciones ml-2 mr-2">
                    <h5>Tus direcciones</h5>    
                </div>
            </a>
           
        </div>
        <div class="col-md-4 col-sm-12 ">
            <a class="link-mis-pedidos" routerLink="/orders">
                <div class="mis-pedidos ml-2 mr-2">
                    <h5>Tus pedidos</h5>
                </div>
            </a>
          
        </div>
    </div>
</div>