.principal{
    padding-bottom: 100px;
}
.mis-datos {
    border-color:#ced5db;
    border-style: groove;
    border-width: 1px;
    border-radius: 5px;
    padding-bottom: 38px;
}
.mis-direcciones {
    border-color:#ced5db;
    border-style: groove;
    border-width: 1px;
    border-radius: 5px;

}
.mis-pedidos {
    border-color:#ced5db;
    border-style: groove;
    border-width: 1px;
    border-radius: 5px;

}
.link-mis-datos{
    text-decoration: none;
    color: black;
}
.link-mis-direcciones{
    text-decoration: none;
    color: black;
}
.link-mis-pedidos{
    text-decoration: none;
    color: black;
}
.nav_barra ol{
    background-color: transparent;
}


@media (min-width:360px)   OR (max-width:428px){
    .datos{
        margin-bottom: 10px;
    }
    .direcciones{
        margin-bottom: 10px;
    }
    .ordenes{
        margin-bottom: 10px;
    }
}