#formTotales{
    width:100% !important;
    text-align: right;
    border:1px solid rgb(230, 225, 225);
}
.num-factura{
    border:1px solid rgb(216, 211, 211);
    background-color: rgb(235, 237, 238);
    padding: 6px 0px;
    border-radius: 5px;
    color: rgb(82, 79, 79);
}