.rojo{
    pointer-events: none;
    
    opacity: 0.7;
    
}
.azul{
    pointer-events: all;
    opacity: 1;
}
.rojo2{
    pointer-events: none;
}
.azul2{
    pointer-events: all;

}
.address-detail{
    border-width: 2px;
    border-color: aqua;
    border-style: solid;
}
.tabla{
    border:1px solid;
    border-color: rgb(207, 204, 204);
    border-radius: 5px;
}
