.principal{
    padding-bottom: 100px;
}

.address-detail{
    border-width: 2px;
    border-color: aqua;
    border-style: solid;
}
.tabla{
    border:1px solid;
    border-color: rgb(207, 204, 204);
    border-radius: 5px;
}
.nav_barra ol{
    background-color: transparent;
}

@media (max-width:414px){
   .caja-dir{
    margin-bottom: 8px;
   }
}
