<div class="container">
  <nav aria-label="breadcrumb" class="nav_barra">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Inicio</a></li>
      <li class="breadcrumb-item"><a routerLink="/account">Mi cuenta</a></li>
      <li class="breadcrumb-item active" aria-current="page">Mis direcciones de envío</li>
    </ol>
  </nav>
</div>
<div class="container principal">
  <h5 class="mt-3 mb-2" style="color: rgb(97, 92, 92);">Mis direcciones de envío</h5>
  <a href=""  data-toggle="modal" data-target="#addAddress">Añadir una dirección aquí</a>
  <div class="row mt-3">
    <div class="col-md-4 col-sm-12" *ngFor="let ad of addresses; let indice = index">
      <div class="tabla pt-2 pr-3 pb-3 pl-3">
        <table class="table">
          <tbody>
            <tr>
              <b>Dirección {{ indice + 1 }}</b>
            </tr>
            <tr>
              {{
                ad.address
              }}
            </tr>
            <tr>
              {{
                ad.city
              }}
              -
              {{
                ad.state
              }}
              -
              {{
                ad.country
              }}
            </tr>
            <tr>
              {{
                ad.postal_code
              }}
            </tr>
          </tbody>
        </table>
        <button
          class="btn btn-secondary"
          data-toggle="modal"
          data-target="#editAddress"
          (click)="editar(ad.id)"
        >
          Editar
        </button>
        <button class="btn btn-danger float-right" (click)="eliminar(ad.id)">
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Agregar una direccion -->
<div
  class="modal fade"
  id="addAddress"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Agregar nueva dirección
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          #botonCerrar
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- <flash-message messagePositioning="top-right"></flash-message> -->

      <form #addressForm="ngForm" (ngSubmit)="addAddress(addressForm)">
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col mb-3">
              <label>Direccion</label>
              <input
                type="text"
                class="form-control"
                name="dirNueva"
                placeholder=""
                #nameAddress="ngModel"
                [(ngModel)]="dirNueva"
                [ngClass]="{'is-invalid':nameAddress.errors && nameAddress.touched}"
                required />
                 <div [hidden]="!nameAddress.errors?.required" class="invalid-feedback">
                Dirección requerida</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4 mb-3">
              <label for="">Ciudad</label>
              <input
                type="text"
                class="form-control"
                name="cityNueva"
                #nameCity="ngModel"
                [(ngModel)]="cityNueva"
                [ngClass]="{'is-invalid':nameCity.errors && nameCity.touched}"
                required />
                 <div [hidden]="!nameCity.errors?.required" class="invalid-feedback">
                Ciudad requerida</div>
            </div>
            <div class="form-group col-md-4 mb-3">
              <label for="">Provincia</label>
              <input
                type="text"
                class="form-control"
                name="stateNuevo"
                placeholder=""
                #nameState="ngModel"
                [(ngModel)]="stateNuevo"
                [ngClass]="{'is-invalid':nameState.errors && nameState.touched}"
                required />
                 <div [hidden]="!nameState.errors?.required" class="invalid-feedback">
                Provincia requerida</div>
            </div>
            <div class="form-group col-md-4 mb-3">
              <label for="">Pais</label>
              <input
                type="text"
                class="form-control"
                name="countryNuevo"
                #nameCountry="ngModel"
                [(ngModel)]="countryNuevo"
                [ngClass]="{'is-invalid':nameCountry.errors && nameCountry.touched}"
                required />
                 <div [hidden]="!nameCountry.errors?.required" class="invalid-feedback">
                País requerido</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4 mb-3">
              <label for="">Codigo postal</label>
              <input
                type="text"
                class="form-control"
                name="postal_codeNuevo"
                #namePostalCode="ngModel"
                [(ngModel)]="postal_codeNuevo"
                [ngClass]="{'is-invalid':namePostalCode.errors && namePostalCode.touched}"
                required 
                minlength="6"
                />
                 <div [hidden]="!namePostalCode.errors?.required" class="invalid-feedback">
                Código postal requerido</div>
                 <div [hidden]="!namePostalCode.errors?.minlength" class="invalid-feedback">
                Debe contener 6 caracteres</div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" >
            Cancelar
          </button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Editar una dirección -->
<div
  class="modal fade"
  id="editAddress"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  #botonCerrar
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Editar dirección
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          #botonCerrarEditar
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #editForm="ngForm" (ngSubmit)="editarAddress(editForm)">
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col mb-3">
              <label for="">Direccion</label>
              <input
                type="text"
                class="form-control"
                name="address"
                placeholder=""
                #nameAdd="ngModel"
                [(ngModel)]="address"
                [ngClass]="{'is-invalid':nameAdd.errors && nameAdd.touched}"
                required />
                 <div [hidden]="!nameAdd.errors?.required" class="invalid-feedback">
                Dirección requerida</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4 mb-3">
              <label for="">Ciudad</label>
              <input
                type="text"
                class="form-control"
                name="city"
                #nameCt="ngModel"
                [(ngModel)]="city"
                [ngClass]="{'is-invalid':nameCt.errors && nameCt.touched}"
                required />
                 <div [hidden]="!nameCt.errors?.required" class="invalid-feedback">
                Ciudad requerida</div>
            </div>
            <div class="form-group col-md-4 mb-3">
              <label for="">Provincia</label>
              <input
                type="text"
                class="form-control"
                name="state"
                placeholder=""
                #nameSt="ngModel"
                [(ngModel)]="state"
                [ngClass]="{'is-invalid':nameSt.errors && nameSt.touched}"
                required />
                 <div [hidden]="!nameSt.errors?.required" class="invalid-feedback">
                Provincia requerida</div>
            </div>
            <div class="form-group col-md-4 mb-3">
              <label for="">Pais</label>
              <input
                type="text"
                class="form-control"
                id=""
                name="country"
                #nameCountr="ngModel"
                [(ngModel)]="country"
                [ngClass]="{'is-invalid':nameCountr.errors && nameCountr.touched}"
                required />
                 <div [hidden]="!nameCountr.errors?.required" class="invalid-feedback">
                País requerido</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4 mb-3">
              <label for="validationCustom05">Codigo postal</label>
              <input
                type="text"
                class="form-control"
                id="validationCustom05"
                name="postal_code"
                #nameCod="ngModel"
                [(ngModel)]="postal_code"
                [ngClass]="{'is-invalid':nameCod.errors && nameCod.touched}"
                required 
                minlength="6"
                />
                 <div [hidden]="!nameCod.errors?.required" class="invalid-feedback">
                Código postal requerido</div>              
                 <div [hidden]="!nameCod.errors?.minlength" class="invalid-feedback">
                Se require 6 caracteres</div>              
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cancelar
          </button>
          <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
