<div class="container">
  <h4 class="mt-3 mb-2">Mis direcciones</h4>
  <a href=""  data-toggle="modal" data-target="#addAddress">Añadir una dirección aquí</a>
  <div class="row mt-3">
    <div class="col-md-4" *ngFor="let ad of addresses; let indice = index">
      <div class="tabla pt-2 pr-3 pb-3 pl-3">
        <table class="table">
          <tbody>
            <tr>
              <b>Dirección {{ indice + 1 }}</b>
            </tr>
            <tr>
              {{
                ad.address
              }}
            </tr>
            <tr>
              {{
                ad.city
              }}
              -
              {{
                ad.state
              }}
              -
              {{
                ad.country
              }}
            </tr>
            <tr>
              {{
                ad.postal_code
              }}
            </tr>
          </tbody>
        </table>
        <button
          class="btn btn-secondary"
          data-toggle="modal"
          data-target="#editAddress"
          (click)="editar(ad.id)"
        >
          Editar
        </button>
        <button class="btn btn-danger float-right" (click)="eliminar(ad.id)">
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Agregar una direccion -->
<div
  class="modal fade"
  id="addAddress"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Agregar nueva dirección
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="needs-validation" novalidate (ngSubmit)="addAddress()">
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col mb-3">
              <label for="validationCustom03">Direccion</label>
              <input
                type="text"
                class="form-control"
                id="validationCustom03"
                name="dirNueva"
                placeholder=""
                [(ngModel)]="dirNueva"
              />
              <div class="invalid-feedback">Please provide a valid city.</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4 mb-3">
              <label for="validationCustom03">Ciudad</label>
              <input
                type="text"
                class="form-control"
                id="validationCustom03"
                name="cityNueva"
                [(ngModel)]="cityNueva"
              />
              <div class="invalid-feedback">Please provide a valid city.</div>
            </div>
            <div class="form-group col-md-4 mb-3">
              <label for="validationCustom04">Provincia</label>

              <input
                type="text"
                class="form-control"
                id="validationCustom03"
                name="stateNuevo"
                placeholder=""
                [(ngModel)]="stateNuevo"
              />

              <div class="invalid-feedback">Please select a valid state.</div>
            </div>
            <div class="form-group col-md-4 mb-3">
              <label for="validationCustom05">Pais</label>
              <input
                type="text"
                class="form-control"
                id="validationCustom05"
                name="countryNuevo"
                [(ngModel)]="countryNuevo"
              />
              <div class="invalid-feedback">Please provide a valid zip.</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4 mb-3">
              <label for="validationCustom05">Codigo postal</label>
              <input
                type="text"
                class="form-control"
                id="validationCustom05"
                name="postal_codeNuevo"
                [(ngModel)]="postal_codeNuevo"
              />
              <div class="invalid-feedback">Please provide a valid zip.</div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Editar una dirección -->
<div
  class="modal fade"
  id="editAddress"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Agregar nueva dirección
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="needs-validation" novalidate (ngSubmit)="editarAddress()">
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col mb-3">
              <label for="validationCustom03">Direccion</label>
              <input
                type="text"
                class="form-control"
                id="validationCustom03"
                name="address"
                placeholder=""
                [(ngModel)]="address"
              />
              <div class="invalid-feedback">Please provide a valid city.</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4 mb-3">
              <label for="validationCustom03">Ciudad</label>
              <input
                type="text"
                class="form-control"
                id="validationCustom03"
                name="city"
                [(ngModel)]="city"
              />
              <div class="invalid-feedback">Please provide a valid city.</div>
            </div>
            <div class="form-group col-md-4 mb-3">
              <label for="validationCustom04">Provincia</label>

              <input
                type="text"
                class="form-control"
                id="validationCustom03"
                name="state"
                placeholder=""
                [(ngModel)]="state"
              />

              <div class="invalid-feedback">Please select a valid state.</div>
            </div>
            <div class="form-group col-md-4 mb-3">
              <label for="validationCustom05">Pais</label>
              <input
                type="text"
                class="form-control"
                id="validationCustom05"
                name="country"
                [(ngModel)]="country"
              />
              <div class="invalid-feedback">Please provide a valid zip.</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4 mb-3">
              <label for="validationCustom05">Codigo postal</label>
              <input
                type="text"
                class="form-control"
                id="validationCustom05"
                name="postal_code"
                [(ngModel)]="postal_code"
              />
              <div class="invalid-feedback">Please provide a valid zip.</div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
